<a href="https://colab.research.google.com/github/ishaanpaul98/Sentiment-Analysis/blob/main/Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports #

In [246]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from wordcloud import WordCloud
import re

from bs4 import BeautifulSoup
from urllib.request import urlopen, Request
from nltk.sentiment.vader import SentimentIntensityAnalyzer

import datetime
import yfinance as yf
import time
import requests
import io

In [247]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [248]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

In [249]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,confusion_matrix,roc_curve,classification_report
from sklearn.metrics import plot_confusion_matrix

# Stock Data Helper Functions #

In [250]:
def getStockDataDaily(symbol, day):
    print("Getting stock data for stock $"+symbol)
    df = yf.download(symbol, start=day, period = "1d")
    return df

getStockDataDaily('AAPL', "2022-12-21")

Getting stock data for stock $AAPL
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-12-21,132.979996,136.809998,132.750000,135.449997,135.449997,85928000
2022-12-22,134.350006,134.559998,130.300003,132.229996,132.229996,77852100
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.860001,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,130.029999,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,126.040001,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.610001,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.929993,76960600
2023-01-03,130.279999,130.899994,124.169998,125.070000,125.070000,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,126.360001,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,125.019997,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,129.619995,87686600
2023-01-09,130.470001,133.410004,129.889999,130.149994,130.149994,70790800
2023-01-10,130.259995,131.259995,128.119995,130.729996,130.729996,63896200
2023-01-11,131.250000,133.509995,130.460007,133.490005,133.490005,69458900
2023-01-12,133.880005,134.259995,131.440002,133.410004,133.410004,71379600
2023-01-13,132.029999,134.919998,131.660004,134.759995,134.759995,57758000
2023-01-17,134.830002,137.289993,134.130005,135.940002,135.940002,63646600
2023-01-18,136.820007,138.610001,135.029999,135.210007,135.210007,69672800
2023-01-19,134.080002,136.250000,133.770004,135.270004,135.270004,58280400
2023-01-20,135.279999,136.889999,134.220001,136.804993,136.804993,44315848

In [251]:
def arrayToString(arr):
    print("Starting array to list")
    listToStr = ' '.join([str(elem) for elem in arr])
    return listToStr

In [252]:
def getMultiStockDataDaily(symbols, day):
    if len(symbols) > 1:
        print("Length of symbols array is more than 1. STARTING ARRAYTOSTRING")
        symbols = arrayToString(symbols)
    print("Getting stock data for stock $"+symbols)
    df = yf.download(symbols, start=day, period = "1d", group_by='ticker')
    return df

getMultiStockDataDaily(['AAPL', 'TSLA'], "2022-12-21")

Length of symbols array is more than 1. STARTING ARRAYTOSTRING
Starting array to list
Getting stock data for stock $AAPL TSLA
[*********************100%***********************]  2 of 2 completed

                  TSLA                                                  \
                  Open        High         Low       Close   Adj Close
Date
2022-12-21  139.339996  141.259995  135.889999  137.570007  137.570007
2022-12-22  136.000000  136.630005  122.260002  125.349998  125.349998
2022-12-23  126.370003  128.619995  121.019997  123.150002  123.150002
2022-12-27  117.500000  119.669998  108.760002  109.099998  109.099998
2022-12-28  110.349998  116.269997  108.239998  112.709999  112.709999
2022-12-29  120.389999  123.570000  117.500000  121.820000  121.820000
2022-12-30  119.949997  124.480003  119.750000  123.180000  123.180000
2023-01-03  118.470001  118.800003  104.639999  108.099998  108.099998
2023-01-04  109.110001  114.589996  107.519997  113.639999  113.639999
2023-01-05  110.510002  111.750000  107.160004  110.339996  110.339996
2023-01-06  103.000000  114.389999  101.809998  113.059998  113.059998
2023-01-09  118.959999  123.519997  117.110001  119.769997  119.769997
2023-01-10  121.070000  122.760002  114.919998  118.849998  118.849998
2023-01-11  122.089996  125.949997  120.510002  123.220001  123.220001
2023-01-12  122.559998  124.129997  117.000000  123.559998  123.559998
2023-01-13  116.550003  122.629997  115.599998  122.400002  122.400002
2023-01-17  125.699997  131.699997  125.019997  131.490005  131.490005
2023-01-18  136.559998  136.679993  127.010002  128.779999  128.779999
2023-01-19  127.260002  129.990005  124.309998  127.169998  127.169998
2023-01-20         NaN         NaN         NaN         NaN         NaN

                               AAPL                                      \
                 Volume        Open        High         Low       Close
Date
2022-12-21  145417400.0  132.979996  136.809998  132.750000  135.449997
2022-12-22  210090300.0  134.350006  134.559998  130.300003  132.229996
2022-12-23  166989700.0  130.919998  132.419998  129.639999  131.860001
2022-12-27  208643400.0  131.380005  131.410004  128.720001  130.029999
2022-12-28  221070500.0  129.669998  131.029999  125.870003  126.040001
2022-12-29  221923300.0  127.989998  130.479996  127.730003  129.610001
2022-12-30  157304500.0  128.410004  129.949997  127.430000  129.929993
2023-01-03  231402800.0  130.279999  130.899994  124.169998  125.070000
2023-01-04  180389000.0  126.889999  128.660004  125.080002  126.360001
2023-01-05  157986300.0  127.129997  127.769997  124.760002  125.019997
2023-01-06  220575900.0  126.010002  130.289993  124.889999  129.619995
2023-01-09  190284000.0  130.470001  133.410004  129.889999  130.149994
2023-01-10  167642500.0  130.259995  131.259995  128.119995  130.729996
2023-01-11  183810800.0  131.250000  133.509995  130.460007  133.490005
2023-01-12  169400900.0  133.880005  134.259995  131.440002  133.410004
2023-01-13  180439300.0  132.029999  134.919998  131.660004  134.759995
2023-01-17  186477000.0  134.830002  137.289993  134.130005  135.940002
2023-01-18  195680300.0  136.820007  138.610001  135.029999  135.210007
2023-01-19  170291900.0  134.080002  136.250000  133.770004  135.270004
2023-01-20          NaN  135.279999  136.889999  134.220001  136.804993


             Adj Close     Volume
Date
2022-12-21  135.449997   85928000
2022-12-22  132.229996   77852100
2022-12-23  131.860001   63814900
2022-12-27  130.029999   69007800
2022-12-28  126.040001   85438400
2022-12-29  129.610001   75703700
2022-12-30  129.929993   76960600
2023-01-03  125.070000  112117500
2023-01-04  126.360001   89113600
2023-01-05  125.019997   80962700
2023-01-06  129.619995   87686600
2023-01-09  130.149994   70790800
2023-01-10  130.729996   63896200
2023-01-11  133.490005   69458900
2023-01-12  133.410004   71379600
2023-01-13  134.759995   57758000
2023-01-17  135.940002   63646600
2023-01-18  135.210007   69672800
2023-01-19  135.270004   58280400
2023-01-20  136.804993   44315964

In [266]:
def getMonthlyStockData(symbol, day, interval):
    print("Getting stock data for stock $"+symbol)
    df = yf.download(symbol, start=day, period = interval, group_by='ticker')
    return df

getMonthlyStockData('AAPL', "2022-11-21", '1mo')

Getting stock data for stock $AAPL
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-11-21,150.160004,150.369995,147.720001,148.009995,148.009995,58724100
2022-11-22,148.130005,150.419998,146.929993,150.179993,150.179993,51804100
2022-11-23,149.449997,151.830002,149.339996,151.070007,151.070007,58301400
2022-11-25,148.309998,148.880005,147.119995,148.110001,148.110001,35195900
2022-11-28,145.139999,146.639999,143.380005,144.220001,144.220001,69246000
2022-11-29,144.289993,144.809998,140.350006,141.169998,141.169998,83763800
2022-11-30,141.399994,148.720001,140.550003,148.029999,148.029999,111380900
2022-12-01,148.210007,149.130005,146.610001,148.309998,148.309998,71250400
2022-12-02,145.960007,148.000000,145.649994,147.809998,147.809998,65447400
2022-12-05,147.770004,150.919998,145.770004,146.630005,146.630005,68826400
2022-12-06,147.070007,147.300003,141.919998,142.910004,142.910004,64727200
2022-12-07,142.190002,143.369995,140.000000,140.940002,140.940002,69721100
2022-12-08,142.360001,143.520004,141.100006,142.649994,142.649994,62128300
2022-12-09,142.339996,145.570007,140.899994,142.160004,142.160004,76097000
2022-12-12,142.699997,144.500000,141.059998,144.490005,144.490005,70462700
2022-12-13,149.500000,149.970001,144.240005,145.470001,145.470001,93886200
2022-12-14,145.350006,146.660004,141.160004,143.210007,143.210007,82291200
2022-12-15,141.110001,141.800003,136.029999,136.500000,136.500000,98931900
2022-12-16,136.690002,137.649994,133.729996,134.509995,134.509995,160156900
2022-12-19,135.110001,135.199997,131.320007,132.369995,132.369995,79592600
2022-12-20,131.389999,133.250000,129.889999,132.300003,132.300003,77432800
2022-12-21,132.979996,136.809998,132.750000,135.449997,135.449997,85928000
2022-12-22,134.350006,134.559998,130.300003,132.229996,132.229996,77852100
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.860001,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,130.029999,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,126.040001,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.610001,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.929993,76960600
2023-01-03,130.279999,130.899994,124.169998,125.070000,125.070000,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,126.360001,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,125.019997,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,129.619995,87686600
2023-01-09,130.470001,133.410004,129.889999,130.149994,130.149994,70790800
2023-01-10,130.259995,131.259995,128.119995,130.729996,130.729996,63896200
2023-01-11,131.250000,133.509995,130.460007,133.490005,133.490005,69458900
2023-01-12,133.880005,134.259995,131.440002,133.410004,133.410004,71379600
2023-01-13,132.029999,134.919998,131.660004,134.759995,134.759995,57758000
2023-01-17,134.830002,137.289993,134.130005,135.940002,135.940002,63646600
2023-01-18,136.820007,138.610001,135.029999,135.210007,135.210007,69672800
2023-01-19,134.080002,136.250000,133.770004,135.270004,135.270004,58280400
2023-01-20,135.279999,138.020004,134.220001,137.869995,137.869995,79972200
2023-01-23,138.119995,143.309998,137.899994,141.110001,141.110001,79728676

# Gathering FinViz Data (Today's News) #

In [254]:
# Parameters 
n = 3 #the # of article headlines displayed per ticker
tickers = ['AAPL']

In [255]:
from finvizfinance.news import News
fnews = News()
all_news = fnews.get_news()
all_news

{'news':        Date                                              Title  \
 0   01:53PM  Stocks Take Leg Higher on Fed Wallers Comment...
 1   01:51PM  MarketWatch Live: U.S. stocks move higher but ...
 2   01:22PM   Federal Reserve Probes Goldman Consumer Business
 3   01:10PM  Yellen warns of 'global financial crisis' if U...
 4   01:07PM  : Baker Hughes data show a decline in active U...
 ..      ...                                                ...
 85  04:51AM  IMF's Georgieva and ECB's Lagarde discuss the ...
 86  04:25AM  Swiss Minister Signals Support Using Russian A...
 87  04:22AM  Global equity funds post second weekly inflows...
 88  04:00AM    Why the January Stock Market Bounce Is Illusory
 89  03:55AM  European shares gain on China's reopening opti...

                  Source                                               Link
 0     www.bloomberg.com  https://www.bloomberg.com/news/articles/2023-0...
 1   www.marketwatch.com  https://www.marketwatch.com/livecoverage/stock...
 2           www.wsj.com  https://www.wsj.com/articles/federal-reserve-p...
 3           www.cnn.com  https://www.cnn.com/2023/01/20/politics/yellen...
 4   www.marketwatch.com  http://www.marketwatch.com/news/story/baker-hu...
 ..                  ...                                                ...
 85         www.cnbc.com  https://www.cnbc.com/2023/01/20/imfs-georgieva...
 86    www.bloomberg.com  https://www.bloomberg.com/news/articles/2023-0...
 87      www.reuters.com  https://www.reuters.com/markets/global-markets...
 88    www.bloomberg.com  https://www.bloomberg.com/news/articles/2023-0...
 89      www.reuters.com  https://www.reuters.com/markets/europe/europea...

 [90 rows x 4 columns],
 'blogs':        Date                                              Title  \
 0   01:55PM                 Where Will Apple Stock Be In 2030?
 1   01:25PM  "What About The Sudden Deaths?": Pfizer CEO Co...
 2   01:00PM  Friday Fun: Alice Debates Mad Hatter And Red Q...
 3   12:47PM                    Q4 GDP Tracking: Mid-to-high 2s
 4   12:40PM  Debt Ceiling Battle To Test GOP Resolve Under ...
 ..      ...                                                ...
 85   Dec-06   The Three Essential Sources of Your Trading Edge
 86   Nov-24                                Trading Consciously
 87   Nov-18  Relapse Prevention:  A Neglected Topic In Trad...
 88   Nov-13            Strong Two Day Rally:  What Comes Next?
 89   May-21  New Issue Now Available: What Hedge Funds Boug...

                         Source  \
 0             seekingalpha.com
 1            www.zerohedge.com
 2            www.zerohedge.com
 3   www.calculatedriskblog.com
 4            www.zerohedge.com
 ..                         ...
 85     traderfeed.blogspot.com
 86     traderfeed.blogspot.com
 87     traderfeed.blogspot.com
 88     traderfeed.blogspot.com
 89         www.marketfolly.com

                                                  Link
 0   https://seekingalpha.com/article/4571265-where...
 1   https://www.zerohedge.com/covid-19/what-about-...
 2   https://www.zerohedge.com/economics/friday-fun...
 3   http://www.calculatedriskblog.com/2023/01/q4-g...
 4   https://www.zerohedge.com/political/debt-ceili...
 ..                                                ...
 85  http://traderfeed.blogspot.com/2022/12/the-thr...
 86  http://traderfeed.blogspot.com/2022/11/trading...
 87  http://traderfeed.blogspot.com/2022/11/relapse...
 88  http://traderfeed.blogspot.com/2022/11/strong-...
 89  http://www.marketfolly.com/2022/05/new-issue-n...

 [90 rows x 4 columns]}

In [256]:
# Get Data
finwiz_url = 'https://finviz.com/quote.ashx?t='
news_tables = {}

for ticker in tickers:
    url = finwiz_url + ticker
    print("current url is: " +url)
    header = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36."}
    req = Request(url=url,headers=header) 
    resp = urlopen(req)    
    html = BeautifulSoup(resp, features="lxml")
    news_table = html.find(id='news-table')
    news_tables[ticker] = news_table

try:
    for ticker in tickers:
        df = news_tables[ticker]
        df_tr = df.findAll('tr')
    
        print ('\n')
        print ('Recent News Headlines for {}: '.format(ticker))
        
        for i, table_row in enumerate(df_tr):
            a_text = table_row.a.text
            td_text = table_row.td.text
            td_text = td_text.strip()
            print(a_text,'(',td_text,')')
            if i == n-1:
                break
except KeyError:
    pass

current url is: https://finviz.com/quote.ashx?t=AAPL


Recent News Headlines for AAPL:
Analyst Report: Apple Inc. ( Jan-20-23 12:41PM )
Heres Why You Should Consider Investing in Apple (AAPL) ( 12:32PM )
Apple wins appeal to keep $308 million U.S. patent verdict at bay ( 12:08PM )

In [257]:
# Iterate through the news
parsed_news = []
for file_name, news_table in news_tables.items():
    for x in news_table.findAll('tr'):
        print(x.get_text())
        text = x.get_text() 
        date_scrape = x.td.text.split()

        if len(date_scrape) == 1:
            time = date_scrape[0]
            
        else:
            date = date_scrape[0]
            time = date_scrape[1]

        ticker = file_name.split('_')[0]
        
        parsed_news.append([ticker, date, time, text ])

Jan-20-23 12:41PMAnalyst Report: Apple Inc. Morningstar Research
12:32PMHeres Why You Should Consider Investing in Apple (AAPL) Insider Monkey
12:08PMApple wins appeal to keep $308 million U.S. patent verdict at bay Reuters
10:51AMThis Startup Uses AI To Leave Apple's AirTag In The Dust Benzinga
10:00AM1 Huge Reason Stocks Could Rally in 2023 Motley Fool

08:03AM
Loading

08:03AM2 Top Warren Buffett Stocks to Buy in 2023 and Hold Forever Motley Fool
07:41AMApple appeals investigation by UK competition watchdog Reuters
07:38AMApple appeals investigation by UK competition watchdog Reuters
06:27AMApple Stock: Bull vs. Bear Motley Fool
06:03AMThe Global Smartphone Market Just Fell Off a Cliff. Apple Beat the Odds. Motley Fool
05:55AM3 Stocks Warren Buffett Is Almost Certainly Buying in 2023 Motley Fool
05:06AM89% of Warren Buffett's Secret Portfolio Is Invested in Just 5 Stocks Motley Fool
Jan-19-23 09:45AMApple Stock Is Down 25% From Its High. Time to Buy? Motley Fool
08:45AMNew to Investing? 3 Stocks to Buy in 2023 and Hold Forever Motley Fool
08:24AMAlphabet (GOOGL) to Boost YouTube TV With Redesigned Features Zacks

08:17AM
Loading

08:17AMDow Jones Futures Fall After Market Reverses Lower On Fed, Recession Fears; What To Do Now Investor's Business Daily
08:04AMApple Will Struggle to Return to Growth as iPhone Demand Drops, Warns J.P. Morgan Barrons.com
07:50AMBest Stock to Buy: Amazon Stock vs. Apple Stock Motley Fool
06:00AMBetter Buy: Apple Stock vs. Disney Stock Motley Fool
Jan-18-23 10:04PMDow Jones Reverses Lower On Fed, Recession Fears; Tesla, Megacaps Hit Resistance Investor's Business Daily
05:04PMStocks trending in after hours: Alcoa, Discover Financial, Vroom, Apple Yahoo Finance Video
05:02PMApple delays development of AR glasses indefinitely: report Fox Business
04:32PMApple to Expand Smart-Home Lineup, Taking On Amazon and Google Bloomberg
04:19PMBrazil antitrust agency to investigate MercadoLibre complaint against Apple Reuters
02:35PMBig Tech braces for dismal profits, more job cuts Reuters
02:30PMApple wants to control everything from its chips to screens Yahoo Finance
02:20PMApple doing audit related to its human rights policy and labor practices this year Fox Business
02:11PMApple Could Boost Profits by Designing Its Own iPhone Parts, Analyst Says Barrons.com
02:10PMSpotify launches new attack on Apple for abusive behaviors MarketWatch
01:08PMApple Resurrects the Full-Size HomePod With a $299 Price Tag The Wall Street Journal

12:45PM
Loading

12:45PMGoogle Reportedly Working on Apple AirTag Alternative As Personal Tracker Market Sees Growth and Consolidation Benzinga
12:30PMWhy Apples Mac Pricing Is Bad For Customersand Bad for Business Barrons.com
11:20AMApple Brings Back the HomePod Smart Speaker Barrons.com
10:46AMApple Delays AR Glasses, Plans Cheaper Mixed-Reality Headset Bloomberg
10:42AMWhat Apple's move to in-house M2 chips means for the stock Yahoo Finance Video
10:42AMSpotify Teams Up With European Companies For Regulatory Action Against Apple Benzinga
10:11AMU.S. corporate greed has gone too far, says Norway fund manager who voted against Apple CEOs pay MarketWatch
10:00AMBetter Buy in 2023: Apple Stock vs. Amazon Stock Motley Fool
09:50AM10 Best Vanguard ETFs for Portfolio Diversification Insider Monkey
09:45AMDown 22% to 30%, 3 Warren Buffett Dividend Stocks to Buy Right Now Motley Fool
09:23AMApple Is Taking on Meta in Virtual Reality. Its Not Going to Be Easy. Barrons.com
09:01AMSpotify joins media firms to urge EU action against Apple's 'unfair' practices Reuters
09:00AMApple introduces the new HomePod with breakthrough sound and intelligence Business Wire
08:54AMSpotify joins media firms to urge EU action against Apple's 'unfair' practices Reuters
08:27AMApple Wants to Play in the Metaverse. Dont Expect It to Be Easy. Barrons.com
08:15AM2 Top Stocks to Buy in 2023 and Hold Forever Motley Fool
06:39AM3 Reasons to Buy The Trade Desk Stock, and 1 Reason to Sell Motley Fool
06:31AM3 Stocks to Buy if They Take a Dip Motley Fool
06:30AMApple CEO Tim Cook asked for  and got  a major pay cut this year. Is there ever a time when some of us should accept one too? The answer is yes. MarketWatch
06:00AMApple (NASDAQ:AAPL) Could Easily Take On More Debt Simply Wall St.
05:15AMIn a Stunning Move, Apple Plans to Ditch Highly Valued Wireless Component Suppliers Motley Fool
05:10AM3 Rock-Solid Dividend Stocks to Buy in 2023 Motley Fool
04:43AMApple's Chinese Suppliers Win Expansion Permits In India As iPhone-Maker Attempts To Reduce Dependence On China Benzinga
01:12AMApple/chips: homemade chips does not mean homemade fabs Financial Times
12:00AMWhat it would take for Apple to disentangle itself from China Financial Times
Jan-17-23 11:28PMApple Gets a Boost in India as Chinese Suppliers Given Clearance Bloomberg
10:47PMApple indefinitely postpones launch of AR glasses - Bloomberg News Reuters
10:44PMApple indefinitely postpones launch of AR glasses - Bloomberg News Reuters
10:06PMApple will delay AR glasses, focus instead on cheaper mixed-reality headset: report MarketWatch
06:16PMApple Introduces Faster MacBook Pros and Mac Minis Bloomberg
05:45PMApple (AAPL) Gains As Market Dips: What You Should Know Zacks
04:57PMThe ongoing big tech antitrust cases to watch in 2023 Quartz
04:39PMSupreme Court Asks U.S. Government to Weigh In on Apple Patent Dispute The Wall Street Journal
04:02PMChina sees record population declines amid GDP growth Yahoo Finance Video
03:42PMApple unveils M2 chips in new Mac Mini, MacBook Pro Yahoo Finance Video
02:41PMApple Rolls Out Latest MacBook Pro With New M2 Chips The Wall Street Journal
02:07PMThree big questions facing tech stocks this earnings season Yahoo Finance
12:48PMU.S. Supreme Court asks for gov't views on blockbuster Apple/Caltech patent dispute Reuters
12:03PMApple AirTags and Bluetooth Trackers Are Officially a Billion-Dollar Industry  Here's What To Know, Trends, and the Best Ways To Invest Benzinga
10:52AMApple debuts MacBook Pro and Mac Mini with new high-powered M2 Pro and M2 Max chips Yahoo Finance
10:43AMTikTok: Here's how Washington could take it on (even without banning the app) Yahoo Finance
10:36AMApple Launches New MacBooks and Minis, Updates M2 Processors Barrons.com
10:12AMApple unveils latest M2 chips for MacBook Pro and more Yahoo Finance Video
10:10AMWill Warren Buffett Own a Virtual Reality Stock in 2023? Motley Fool
10:04AMApple launches faster MacBook Pro laptops with new custom chips MarketWatch
09:45AMMetas 54% Stock Comeback Is Still on Shaky Ground Bloomberg
09:23AMUPDATE 2-Apple launches faster M2 chips, powerful laptops in rare January launch Reuters
09:18AMApple unveils new macbooks, Mac mini in rare January launch Reuters
09:00AMApple unveils MacBook Pro featuring M2 Pro and M2 Max, with more game-changing performance and the longest battery life ever in a Mac Business Wire
09:00AMApple unveils M2 Pro and M2 Max: next-generation chips for next-level workflows Business Wire
09:00AMApple introduces new Mac mini with M2 and M2 Pro  more powerful, capable, and versatile than ever Business Wire
08:19AMMicrosoft Just Acquired a Chip Design Start-Up. Here's What Semiconductor Investors Need to Know. Motley Fool
05:21AMWarren Buffett Is Raking in $4.84 Billion in Annual Dividend Income From These 6 Stocks Motley Fool
12:51AMUPDATE 1-Apple supplier Foxconn replaces iPhone business chief- Bloomberg News Reuters
12:00AMHow Apple tied its fortunes to China Financial Times
Jan-16-23 11:35PMApple supplier Foxconn replaces iPhone business chief- Bloomberg News Reuters
11:07PMFoxconn Replaces iPhone Business Chief After Tumultuous Year Bloomberg
08:33PMUPDATE 1-Investor Ryan Cohen builds Alibaba stake, pushes for more share buybacks Reuters
01:27PM2 FAANG Stocks to Buy in 2023 and 1 to Avoid: Here's Why Motley Fool
11:51AMThe Regulatory Threat to Tech Is Growing. What It Means for Stocks. Barrons.com
11:05AMQualcomm: A Rare Technology Value Play TheStreet.com
11:00AMBetter Growth Stock in 2023: Apple vs. AMD Motley Fool
10:37AM2 Top Tech Stocks to Buy for the Long Haul Motley Fool
10:30AMTarget, Amazon and 4 More Retailers That Will Reward You for Turning in Your Old Stuff GOBankingRates
09:53AM3 Tech Stocks Approved by Warren Buffett Motley Fool
09:34AMIs TSMC Stock a Buy Now? Motley Fool
08:33AMThe Zacks Analyst Blog Highlights Lenovo Group, HP, Dell Technologies and Apple Zacks
07:10AMHistory Says the Nasdaq Could Soar in 2023 -- 5 Stocks You'll Wish You'd Bought if It Does Motley Fool
Jan-15-23 04:25PMBusiness class: Apple hires workers in India as it looks to open first flagship stores Financial Times
10:07AMBetter Buy: Costco Vs. Target Stock Motley Fool

# Gathering Data From AlphaAdvantage for Historical News #

In [258]:
from decouple import config
import requests
import urllib.parse
import json
AAapikey = config('AAKey')

In [259]:
#Function to convert user provided date to date required by AlphaAdvantage
def toAADate(oldDate):
    newDate = str(oldDate) + 'T0001'
    return newDate

In [260]:
# Get data from AlphaAdvantage for one ticker for a particular day
def getHistoricNewsData(ticker, startDate = None, endDate = None):
    url = 'https://www.alphavantage.co/query?'
    if startDate and endDate:
        startDate = toAADate(startDate)
        endDate = toAADate(endDate)
        Myparams = {'function': 'NEWS_SENTIMENT', 'tickers': ticker, 'time_from': startDate, 'time_to': endDate, 'sort': 'LATEST','limit': 100, 'apikey': AAapikey}
    else:
        Myparams = {'function': 'NEWS_SENTIMENT', 'tickers': ticker, 'sort': 'LATEST','limit': 100, 'apikey': AAapikey}
    r = requests.get(url, params = Myparams)
    data = r.json()
    #return data
    historic_news = pd.DataFrame(columns=['Date', 'Headline', 'Ticker'])
    for i in data.get("feed"):
        test_date = i.get("time_published")
        test_date = test_date[:8]
        row = [test_date, i.get("title"), ticker]
        new_df = pd.DataFrame([row],columns=['Date', 'Headline', 'Ticker'])
        historic_news = pd.concat([historic_news, new_df], axis=0, ignore_index=True)
    return historic_news

historic_news = getHistoricNewsData('AAPL', '2023012', '20230117')
print(historic_news)

        Date                                           Headline Ticker
0   20230120  Microsoft and Alphabet Deepen the White-Collar...   AAPL
1   20230120  Amazon's Alexa Smart Speaker Blazed A Trail, T...   AAPL
2   20230120  Five Things We Don't Still Don't Know About Ne...   AAPL
3   20230120  Netflix  ( NFLX )  Q4 Earnings Miss, Revenues ...   AAPL
4   20230120  Major tech layoffs from Alphabet and Microsoft...   AAPL
5   20230120  This Startup Uses AI To Leave Apple's AirTag I...   AAPL
6   20230120  Could Alphabet Cuts Spell a Potentially Tough ...   AAPL
7   20230120           1 Huge Reason Stocks Could Rally in 2023   AAPL
8   20230120  This Solar Company's 5-Year Return Outshines T...   AAPL
9   20230120  EXCLUSIVE: Poll Reveals Top Picks For A $25,00...   AAPL
10  20230120  LG ELECTRONICS USA DEBUTS ITS NEW CINEBEAM SMA...   AAPL
11  20230120                 Futures Fall Ahead Of Housing Data   AAPL
12  20230120  DraftKings, FanDuel And These Streaming Apps C...   AAPL
13  20230120  2 Top Warren Buffett Stocks to Buy in 2023 and...   AAPL
14  20230120  A Bull Market Is Coming. 3 Growth ETFs to Buy ...   AAPL
15  20230120                         Apple Stock: Bull vs. Bear   AAPL
16  20230120  Should Vanguard Growth ETF  ( VUG )  Be on You...   AAPL
17  20230120  Should You Invest in the Fidelity MSCI Informa...   AAPL
18  20230120  The Global Smartphone Market Just Fell Off a C...   AAPL
19  20230120  3 Stocks Warren Buffett Is Almost Certainly Bu...   AAPL
20  20230120  Uber's Chinese Rival DiDi's Apps Make Way Back...   AAPL
21  20230120  89% of Warren Buffett's Secret Portfolio Is In...   AAPL
22  20230120  Will Amazon Be the Largest Company in the Worl...   AAPL
23  20230120  The 2023 Jeep Compass is a practical daily com...   AAPL
24  20230120                 AppleTV+ Suffers Widespread Outage   AAPL
25  20230119  Netflix says its plan to 'broadly' end passwor...   AAPL
26  20230119  Apple's HomePod Mini to Get an Exciting New Fe...   AAPL
27  20230119  US Government Goes After Amazon Over Warehouse...   AAPL
28  20230119  Smaller Share of U.S. Workers Were Union Membe...   AAPL
29  20230119             Apple Reveals HomePod | Financial Buzz   AAPL
30  20230119  Climbing the Wall: As Wall Street Considers Fr...   AAPL
31  20230119  Gaming Industry Workers Unite: A Look At Union...   AAPL
32  20230119  Stocks Lower After Jobless Claims; Netflix Ear...   AAPL
33  20230119  Apple Stock Is Down 25% From Its High. Time to...   AAPL
34  20230119  Jim Cramer's top 10 things to watch in the mar...   AAPL
35  20230119  New to Investing? 3 Stocks to Buy in 2023 and ...   AAPL
36  20230119  Alphabet  ( GOOGL )  to Boost YouTube TV With ...   AAPL
37  20230119  Viral TikTok: iPhone Users, Elevate Your Photo...   AAPL
38  20230119  Apple Will Struggle to Return to Growth as iPh...   AAPL
39  20230119  Tesla To Rally Around 138%? Here Are 10 Other ...   AAPL
40  20230119  How investors are preparing for a debt ceiling...   AAPL
41  20230119  How investors are preparing for a debt ceiling...   AAPL
42  20230119    Best Stock to Buy: Amazon Stock vs. Apple Stock   AAPL
43  20230119          Apple's New $299 HomePod Could Save Lives   AAPL
44  20230119  India flexes its muscle at Davos as China's st...   AAPL
45  20230119  India flexes its muscle at Davos as China's st...   AAPL
46  20230119  India flexes its muscle at Davos as China's st...   AAPL
47  20230119  Apple Investors Have Reason To Cheer As iPhone...   AAPL
48  20230119  Futures fall as weak data fuel recession worri...   AAPL
49  20230119  Should WisdomTree U.S. LargeCap Dividend ETF  ...   AAPL

# Sentiment Analysis of News data #

In [261]:
def SentimentAnalysisNewsData(parsedNews):
    nltk.download('vader_lexicon')
    # Sentiment Analysis
    analyzer = SentimentIntensityAnalyzer()

    columns = ['Ticker', 'Date', 'Time', 'Headline']
    news = pd.DataFrame(parsedNews, columns=columns)
    scores = news['Headline'].apply(analyzer.polarity_scores).tolist()

    df_scores = pd.DataFrame(scores)
    news = news.join(df_scores, rsuffix='_right')
    news['Date'] = pd.to_datetime(news.Date).dt.date

    unique_ticker = news['Ticker'].unique().tolist()
    news_dict = {name: news.loc[news['Ticker'] == name] for name in unique_ticker}

    values = []
    for ticker in tickers: 
        dataframe = news_dict[ticker]
        dataframe = dataframe.set_index('Ticker')
        dataframe = dataframe.drop(columns = ['Headline'])
        print ('\n')
        print (dataframe.head())
        
        mean = round(dataframe['compound'].mean(), 2)
        values.append(mean)
        
    df = pd.DataFrame(list(zip(tickers, values)), columns =['Ticker', 'Mean Sentiment']) 
    df = df.set_index('Ticker')
    df = df.sort_values('Mean Sentiment', ascending=False)
    print ('\n')
    print (df)
    return df

In [262]:
HistoricSentiment = SentimentAnalysisNewsData(historic_news)
TodaysSentiment = SentimentAnalysisNewsData(parsed_news)

              Date  Time    neg    neu    pos  compound
Ticker
AAPL    2023-01-20   NaN  0.318  0.682  0.000   -0.4215
AAPL    2023-01-20   NaN  0.000  0.748  0.252    0.4019
AAPL    2023-01-20   NaN  0.000  1.000  0.000    0.0000
AAPL    2023-01-20   NaN  0.114  0.643  0.243    0.4215
AAPL    2023-01-20   NaN  0.000  0.870  0.130    0.3400


        Mean Sentiment
Ticker
AAPL              0.09


              Date     Time    neg    neu    pos  compound
Ticker
AAPL    2023-01-20  12:41PM  0.000  1.000  0.000    0.0000
AAPL    2023-01-20  12:32PM  0.000  1.000  0.000    0.0000
AAPL    2023-01-20  12:08PM  0.000  0.675  0.325    0.6486
AAPL    2023-01-20  10:51AM  0.098  0.902  0.000   -0.0516
AAPL    2023-01-20  10:00AM  0.220  0.606  0.174   -0.1531


        Mean Sentiment
Ticker
AAPL             -0.04

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Ishaan\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Ishaan\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

# Creating Dataset #

In [263]:
for i in tickers:

IndentationError: expected an indented block after 'for' statement on line 1 (1525691964.py, line 2)