<a href="https://colab.research.google.com/github/ishaanpaul98/Sentiment-Analysis/blob/main/Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports #

In [267]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from wordcloud import WordCloud
import re

from bs4 import BeautifulSoup
from urllib.request import urlopen, Request
from nltk.sentiment.vader import SentimentIntensityAnalyzer

import datetime
import yfinance as yf
import time
import requests
import io

In [268]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [269]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

In [270]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,confusion_matrix,roc_curve,classification_report
from sklearn.metrics import plot_confusion_matrix

# Stock Data Helper Functions #

In [271]:
def getStockDataDaily(symbol, day):
    print("Getting stock data for stock $"+symbol)
    df = yf.download(symbol, start=day, period = "1d")
    return df

getStockDataDaily('AAPL', "2022-12-21")

Getting stock data for stock $AAPL
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-12-21,132.979996,136.809998,132.750000,135.449997,135.449997,85928000
2022-12-22,134.350006,134.559998,130.300003,132.229996,132.229996,77852100
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.860001,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,130.029999,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,126.040001,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.610001,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.929993,76960600
2023-01-03,130.279999,130.899994,124.169998,125.070000,125.070000,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,126.360001,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,125.019997,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,129.619995,87686600
2023-01-09,130.470001,133.410004,129.889999,130.149994,130.149994,70790800
2023-01-10,130.259995,131.259995,128.119995,130.729996,130.729996,63896200
2023-01-11,131.250000,133.509995,130.460007,133.490005,133.490005,69458900
2023-01-12,133.880005,134.259995,131.440002,133.410004,133.410004,71379600
2023-01-13,132.029999,134.919998,131.660004,134.759995,134.759995,57758000
2023-01-17,134.830002,137.289993,134.130005,135.940002,135.940002,63646600
2023-01-18,136.820007,138.610001,135.029999,135.210007,135.210007,69672800
2023-01-19,134.080002,136.250000,133.770004,135.270004,135.270004,58280400
2023-01-20,135.279999,138.020004,134.220001,137.869995,137.869995,79972200
2023-01-23,138.119995,143.309998,137.899994,141.110001,141.110001,79728676

In [272]:
def arrayToString(arr):
    print("Starting array to list")
    listToStr = ' '.join([str(elem) for elem in arr])
    return listToStr

In [273]:
def getMultiStockDataDaily(symbols, day):
    if len(symbols) > 1:
        print("Length of symbols array is more than 1. STARTING ARRAYTOSTRING")
        symbols = arrayToString(symbols)
    print("Getting stock data for stock $"+symbols)
    df = yf.download(symbols, start=day, period = "1d", group_by='ticker')
    return df

getMultiStockDataDaily(['AAPL', 'TSLA'], "2022-12-21")

Length of symbols array is more than 1. STARTING ARRAYTOSTRING
Starting array to list
Getting stock data for stock $AAPL TSLA
[*********************100%***********************]  2 of 2 completed

                  TSLA                                                  \
                  Open        High         Low       Close   Adj Close
Date
2022-12-21  139.339996  141.259995  135.889999  137.570007  137.570007
2022-12-22  136.000000  136.630005  122.260002  125.349998  125.349998
2022-12-23  126.370003  128.619995  121.019997  123.150002  123.150002
2022-12-27  117.500000  119.669998  108.760002  109.099998  109.099998
2022-12-28  110.349998  116.269997  108.239998  112.709999  112.709999
2022-12-29  120.389999  123.570000  117.500000  121.820000  121.820000
2022-12-30  119.949997  124.480003  119.750000  123.180000  123.180000
2023-01-03  118.470001  118.800003  104.639999  108.099998  108.099998
2023-01-04  109.110001  114.589996  107.519997  113.639999  113.639999
2023-01-05  110.510002  111.750000  107.160004  110.339996  110.339996
2023-01-06  103.000000  114.389999  101.809998  113.059998  113.059998
2023-01-09  118.959999  123.519997  117.110001  119.769997  119.769997
2023-01-10  121.070000  122.760002  114.919998  118.849998  118.849998
2023-01-11  122.089996  125.949997  120.510002  123.220001  123.220001
2023-01-12  122.559998  124.129997  117.000000  123.559998  123.559998
2023-01-13  116.550003  122.629997  115.599998  122.400002  122.400002
2023-01-17  125.699997  131.699997  125.019997  131.490005  131.490005
2023-01-18  136.559998  136.679993  127.010002  128.779999  128.779999
2023-01-19  127.260002  129.990005  124.309998  127.169998  127.169998
2023-01-20  128.679993  133.509995  127.349998  133.419998  133.419998
2023-01-23  135.869995  145.379303  134.270004  143.750000  143.750000

                             AAPL                                      \
               Volume        Open        High         Low       Close
Date
2022-12-21  145417400  132.979996  136.809998  132.750000  135.449997
2022-12-22  210090300  134.350006  134.559998  130.300003  132.229996
2022-12-23  166989700  130.919998  132.419998  129.639999  131.860001
2022-12-27  208643400  131.380005  131.410004  128.720001  130.029999
2022-12-28  221070500  129.669998  131.029999  125.870003  126.040001
2022-12-29  221923300  127.989998  130.479996  127.730003  129.610001
2022-12-30  157304500  128.410004  129.949997  127.430000  129.929993
2023-01-03  231402800  130.279999  130.899994  124.169998  125.070000
2023-01-04  180389000  126.889999  128.660004  125.080002  126.360001
2023-01-05  157986300  127.129997  127.769997  124.760002  125.019997
2023-01-06  220575900  126.010002  130.289993  124.889999  129.619995
2023-01-09  190284000  130.470001  133.410004  129.889999  130.149994
2023-01-10  167642500  130.259995  131.259995  128.119995  130.729996
2023-01-11  183810800  131.250000  133.509995  130.460007  133.490005
2023-01-12  169400900  133.880005  134.259995  131.440002  133.410004
2023-01-13  180439300  132.029999  134.919998  131.660004  134.759995
2023-01-17  186477000  134.830002  137.289993  134.130005  135.940002
2023-01-18  195680300  136.820007  138.610001  135.029999  135.210007
2023-01-19  170291900  134.080002  136.250000  133.770004  135.270004
2023-01-20  138429900  135.279999  138.020004  134.220001  137.869995
2023-01-23  201802953  138.119995  143.309998  137.899994  141.110001


             Adj Close     Volume
Date
2022-12-21  135.449997   85928000
2022-12-22  132.229996   77852100
2022-12-23  131.860001   63814900
2022-12-27  130.029999   69007800
2022-12-28  126.040001   85438400
2022-12-29  129.610001   75703700
2022-12-30  129.929993   76960600
2023-01-03  125.070000  112117500
2023-01-04  126.360001   89113600
2023-01-05  125.019997   80962700
2023-01-06  129.619995   87686600
2023-01-09  130.149994   70790800
2023-01-10  130.729996   63896200
2023-01-11  133.490005   69458900
2023-01-12  133.410004   71379600
2023-01-13  134.759995   57758000
2023-01-17  135.940002   63646600
2023-01-18  135.210007   69672800
2023-01-19  135.270004   58280400
2023-01-20  137.869995   79972200
2023-01-23  141.110001   79728676

In [274]:
def getMonthlyStockData(symbol, day, interval):
    print("Getting stock data for stock $"+symbol)
    df = yf.download(symbol, start=day, period = interval, group_by='ticker')
    return df

getMonthlyStockData('AAPL', "2022-11-21", '1mo')

Getting stock data for stock $AAPL
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-11-21,150.160004,150.369995,147.720001,148.009995,148.009995,58724100
2022-11-22,148.130005,150.419998,146.929993,150.179993,150.179993,51804100
2022-11-23,149.449997,151.830002,149.339996,151.070007,151.070007,58301400
2022-11-25,148.309998,148.880005,147.119995,148.110001,148.110001,35195900
2022-11-28,145.139999,146.639999,143.380005,144.220001,144.220001,69246000
2022-11-29,144.289993,144.809998,140.350006,141.169998,141.169998,83763800
2022-11-30,141.399994,148.720001,140.550003,148.029999,148.029999,111380900
2022-12-01,148.210007,149.130005,146.610001,148.309998,148.309998,71250400
2022-12-02,145.960007,148.000000,145.649994,147.809998,147.809998,65447400
2022-12-05,147.770004,150.919998,145.770004,146.630005,146.630005,68826400
2022-12-06,147.070007,147.300003,141.919998,142.910004,142.910004,64727200
2022-12-07,142.190002,143.369995,140.000000,140.940002,140.940002,69721100
2022-12-08,142.360001,143.520004,141.100006,142.649994,142.649994,62128300
2022-12-09,142.339996,145.570007,140.899994,142.160004,142.160004,76097000
2022-12-12,142.699997,144.500000,141.059998,144.490005,144.490005,70462700
2022-12-13,149.500000,149.970001,144.240005,145.470001,145.470001,93886200
2022-12-14,145.350006,146.660004,141.160004,143.210007,143.210007,82291200
2022-12-15,141.110001,141.800003,136.029999,136.500000,136.500000,98931900
2022-12-16,136.690002,137.649994,133.729996,134.509995,134.509995,160156900
2022-12-19,135.110001,135.199997,131.320007,132.369995,132.369995,79592600
2022-12-20,131.389999,133.250000,129.889999,132.300003,132.300003,77432800
2022-12-21,132.979996,136.809998,132.750000,135.449997,135.449997,85928000
2022-12-22,134.350006,134.559998,130.300003,132.229996,132.229996,77852100
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.860001,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,130.029999,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,126.040001,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.610001,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.929993,76960600
2023-01-03,130.279999,130.899994,124.169998,125.070000,125.070000,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,126.360001,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,125.019997,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,129.619995,87686600
2023-01-09,130.470001,133.410004,129.889999,130.149994,130.149994,70790800
2023-01-10,130.259995,131.259995,128.119995,130.729996,130.729996,63896200
2023-01-11,131.250000,133.509995,130.460007,133.490005,133.490005,69458900
2023-01-12,133.880005,134.259995,131.440002,133.410004,133.410004,71379600
2023-01-13,132.029999,134.919998,131.660004,134.759995,134.759995,57758000
2023-01-17,134.830002,137.289993,134.130005,135.940002,135.940002,63646600
2023-01-18,136.820007,138.610001,135.029999,135.210007,135.210007,69672800
2023-01-19,134.080002,136.250000,133.770004,135.270004,135.270004,58280400
2023-01-20,135.279999,138.020004,134.220001,137.869995,137.869995,79972200
2023-01-23,138.119995,143.309998,137.899994,141.110001,141.110001,79728676

# Gathering FinViz Data (Today's News) #

In [275]:
# Parameters 
n = 3 #the # of article headlines displayed per ticker
tickers = ['AAPL']

In [276]:
from finvizfinance.news import News
fnews = News()
all_news = fnews.get_news()
all_news

{'news':        Date                                              Title  \
 0   06:15PM  Biden would veto House GOP bill restricting pr...
 1   06:15PM  The first ETF launched 30 years ago, revolutio...
 2   06:08PM  Asia Stocks Set to Rise in Wake of US Tech Ral...
 3   06:03PM         Tech Shares Lead Rally as Nasdaq Climbs 2%
 4   05:47PM  Asia Stocks Set to Rise in Wake of US Tech Ral...
 ..      ...                                                ...
 85  06:14AM  Pakistan Raises Key Rate by 100 Basis Points a...
 86  06:12AM  Ghana Eurobond Holders Fret Over Better Terms ...
 87  06:08AM                Morning bid: Who let the hawks out?
 88  06:00AM  Ritchie Bros. Sweetens Deal for IAA, With Star...
 89  05:53AM  BOE Says Insurers Are Too ‘Optimistic’ About A...

                Source                                               Link
 0     foxbusiness.com  https://foxbusiness.com/politics/biden-would-v...
 1     foxbusiness.com  https://foxbusiness.com/markets/first-etf-laun...
 2   www.bloomberg.com  https://www.bloomberg.com/news/articles/2023-0...
 3         www.wsj.com  https://www.wsj.com/articles/global-stocks-mar...
 4   www.bloomberg.com  https://www.bloomberg.com/news/articles/2023-0...
 ..                ...                                                ...
 85  www.bloomberg.com  https://www.bloomberg.com/news/articles/2023-0...
 86  www.bloomberg.com  https://www.bloomberg.com/news/articles/2023-0...
 87    www.reuters.com  https://www.reuters.com/markets/global-markets...
 88        www.wsj.com  https://www.wsj.com/articles/ritchie-bros-swee...
 89  www.bloomberg.com  https://www.bloomberg.com/news/articles/2023-0...

 [90 rows x 4 columns],
 'blogs':        Date                                              Title  \
 0   05:20PM  US NatGas Prices Soar After Freeport "Complete...
 1   05:00PM  2023: Fourth Turning Meets Mass Formation Psyc...
 2   04:40PM  Ken Griffin Overtakes "Greatest Trade Ever" Wi...
 3   04:20PM  George Soros Urged Use Of Eastern European Sol...
 4   04:01PM  'Leading Indicators' Roar Recession As Nasdaq ...
 ..      ...                                                ...
 85   Dec-18                           Your Mental Sharpe Ratio
 86   Dec-06   The Three Essential Sources of Your Trading Edge
 87   Nov-24                                Trading Consciously
 88   Nov-18  Relapse Prevention:  A Neglected Topic In Trad...
 89   May-21  New Issue Now Available: What Hedge Funds Boug...

                      Source                                               Link
 0         www.zerohedge.com  https://www.zerohedge.com/markets/us-natgas-pr...
 1         www.zerohedge.com  https://www.zerohedge.com/geopolitical/2023-fo...
 2         www.zerohedge.com  https://www.zerohedge.com/markets/ken-griffin-...
 3         www.zerohedge.com  https://www.zerohedge.com/geopolitical/george-...
 4         www.zerohedge.com  https://www.zerohedge.com/markets/stocks-bond-...
 ..                      ...                                                ...
 85  traderfeed.blogspot.com  http://traderfeed.blogspot.com/2022/12/your-me...
 86  traderfeed.blogspot.com  http://traderfeed.blogspot.com/2022/12/the-thr...
 87  traderfeed.blogspot.com  http://traderfeed.blogspot.com/2022/11/trading...
 88  traderfeed.blogspot.com  http://traderfeed.blogspot.com/2022/11/relapse...
 89      www.marketfolly.com  http://www.marketfolly.com/2022/05/new-issue-n...

 [90 rows x 4 columns]}

In [277]:
# Get Data
finwiz_url = 'https://finviz.com/quote.ashx?t='
news_tables = {}

for ticker in tickers:
    url = finwiz_url + ticker
    print("current url is: " +url)
    header = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36."}
    req = Request(url=url,headers=header) 
    resp = urlopen(req)    
    html = BeautifulSoup(resp, features="lxml")
    news_table = html.find(id='news-table')
    news_tables[ticker] = news_table

try:
    for ticker in tickers:
        df = news_tables[ticker]
        df_tr = df.findAll('tr')
    
        print ('\n')
        print ('Recent News Headlines for {}: '.format(ticker))
        
        for i, table_row in enumerate(df_tr):
            a_text = table_row.a.text
            td_text = table_row.td.text
            td_text = td_text.strip()
            print(a_text,'(',td_text,')')
            if i == n-1:
                break
except KeyError:
    pass

current url is: https://finviz.com/quote.ashx?t=AAPL


Recent News Headlines for AAPL:
25 Largest Privately Held Companies in America ( Jan-23-23 05:18PM )
Dow Jones Rallies 250 Points; What To Do Now; 10 Best Stocks To Buy And Watch ( 04:50PM )
Apple reportedly to debut new line of VR headsets ( 04:09PM )

In [278]:
# Iterate through the news
parsed_news = []
for file_name, news_table in news_tables.items():
    for x in news_table.findAll('tr'):
        print(x.get_text())
        text = x.get_text() 
        date_scrape = x.td.text.split()

        if len(date_scrape) == 1:
            time = date_scrape[0]
            
        else:
            date = date_scrape[0]
            time = date_scrape[1]

        ticker = file_name.split('_')[0]
        
        parsed_news.append([ticker, date, time, text ])

Jan-23-23 05:18PM25 Largest Privately Held Companies in America Insider Monkey
04:50PMDow Jones Rallies 250 Points; What To Do Now; 10 Best Stocks To Buy And Watch Investor's Business Daily
04:09PMApple reportedly to debut new line of VR headsets Yahoo Finance Video
03:10PMWhy Apple Stock Was Climbing Today Motley Fool
02:48PMApple in talks with Disney, others on VR content for new headset - Bloomberg News Reuters

01:50PM
Loading…

01:50PMThe big banks want to take on PayPal in e-commerce, but thats harder than it seems MarketWatch
01:27PMHow Apples Upcoming Mixed-Reality Headset Will Work Bloomberg
12:29PMApple, Disney, Salesforce: Why are the worlds best companies failing to innovate on the future of work? Fortune
12:15PMBig Banks Are Coming After PayPal and Apple With Digital Wallet: WSJ Barrons.com
12:10PMWhy Apple (AAPL) is Poised to Beat Earnings Estimates Again Zacks
12:00PMStock Market Recovery: These 4 Stocks Have Been on the Rise in 2023 Motley Fool
11:01AMWhy Buying This FAANG Stock Could Be a Genius Move Motley Fool
10:20AMStocks rising in early trading: Nvidia, Apple, Tesla, Google, Microsoft Yahoo Finance Video
10:16AMHere's why Apple hasn't joined in the Big Tech job cutting American City Business Journals
09:19AMWant to Get Richer? 3 Stocks to Buy in 2023 and Hold Forever Motley Fool

09:15AM
Loading…

09:15AMGot $5,000? Buy and Hold These 3 Value Stocks for Years Motley Fool
09:00AMIs Most-Watched Stock Apple Inc. (AAPL) Worth Betting on Now? Zacks
08:54AMWarren Buffett Just Beat the S&P 500 by the Widest Margin Since 2007. Can He Do It Again in 2023? Motley Fool
08:48AMInvestors Are Betting on Tech Again Zacks
07:49AMApple Anticipates India Production Share To Rise 25% In Attempt To Diversify Base Beyond China Benzinga
07:32AMApple Executives Sold Stock in 2022, but Tim Cook Held Off Barrons.com
07:00AMTarget, Amazon and 4 More Retailers That Will Reward You for Turning in Your Old Stuff GOBankingRates
06:00AMArm-Based Chips Make Inroads With Apple, Amazon The Wall Street Journal
05:52AMWhy Warren Buffett Wants Apple Stock to Tumble Motley Fool
05:30AMBanks Plan Payment Wallet to Compete With PayPal, Apple Pay The Wall Street Journal
05:10AMWill Apple Stock Beat the Market in 2023? Motley Fool
03:00AMTim Cook Hasnt Sold Any Apple Stock Since 2021 Barrons.com
03:00AMApples Top Execs Sold Stock in a Volatile 2022, but CEO Tim Cook Held Off Barrons.com
02:21AMUPDATE 1-Apple targets raising India production share to up to 25% - minister Reuters
01:48AMApple targets raising India production share to up to 25% - minister Reuters

09:10PM
Loading…

Jan-22-23 09:10PMFirst Mover Asia: Bitcoin Surges Past $23K Before Retreating CoinDesk
11:21AMIf I Could Buy Only 1 Stock, This Would Be It Motley Fool
09:48AMThis Oil Stock Is Beating Apple at Its Own Game Motley Fool
08:00AMApple Announces New Chips -- Should Semiconductor Companies Worry? Motley Fool
07:00AMIs a push for diversity dumbing down standards in the City of London? The Telegraph
Jan-21-23 11:52AMHere's who will.i.am turns to for big business advice Yahoo Finance
08:18AMWells Fargo Steps Back From Mortgage Market Motley Fool
08:00AM3 Top Warren Buffett Stocks to Buy in 2023 Motley Fool
07:48AM2 Genius Dividend Stocks to Buy in 2023 Motley Fool
07:00AMReviewing Goldman Sachs' Disappointing Quarter Motley Fool
06:50AMIs Taiwan Semiconductor Stock a Buy Now? Motley Fool
05:39AMDow Jones Bear Market: The Smartest Investors Are Buying These Beaten Down Stocks Motley Fool
05:30AMHow Apple Has So Far Avoided Layoffs: Lean Hiring, No Free Lunches The Wall Street Journal
12:00AMNew Display Tech Is Coming From Apple, Google, Meta and Others The Wall Street Journal
12:00AMLonger Battery Life, Better Screens: New Display Tech From Apple, Google, Others Is Just Around the Corner The Wall Street Journal
12:00AMLonger Batter Life, Better Screens: New Display Tech Apple, Google, Others Is Just Around the Corner The Wall Street Journal
Jan-20-23 06:35PMWeekly Roundup TheStreet.com
04:36PMJamie Dimon is going to make a lot less than he did last year as he joins Apples Tim Cook as the latest big CEO to lose out on a bigger payday Fortune
04:26PMApple Stands Apart From the Tech-Layoffs Bloodbath TheStreet.com
04:26PMApple Stands Apart Amid the Tech-Layoffs Bloodbath TheStreet.com
04:00PMThe Tech Layoffs Continued Friday. Here Are the Cuts Since Last Fall. Barrons.com
02:44PMSamsung loses bid to pause Caltech patent lawsuit over wireless chips Reuters
12:41PMAnalyst Report: Apple Inc. Morningstar Research
12:32PMHeres Why You Should Consider Investing in Apple (AAPL) Insider Monkey
12:08PMApple wins appeal to keep $308 million U.S. patent verdict at bay Reuters
10:51AMThis Startup Uses AI To Leave Apple's AirTag In The Dust Benzinga
10:00AM1 Huge Reason Stocks Could Rally in 2023 Motley Fool
08:03AM2 Top Warren Buffett Stocks to Buy in 2023 and Hold Forever Motley Fool
07:41AMApple appeals investigation by UK competition watchdog Reuters
07:38AMApple appeals investigation by UK competition watchdog Reuters
06:27AMApple Stock: Bull vs. Bear Motley Fool
06:03AMThe Global Smartphone Market Just Fell Off a Cliff. Apple Beat the Odds. Motley Fool
05:55AM3 Stocks Warren Buffett Is Almost Certainly Buying in 2023 Motley Fool
05:06AM89% of Warren Buffett's Secret Portfolio Is Invested in Just 5 Stocks Motley Fool
Jan-19-23 09:45AMApple Stock Is Down 25% From Its High. Time to Buy? Motley Fool
08:45AMNew to Investing? 3 Stocks to Buy in 2023 and Hold Forever Motley Fool
08:24AMAlphabet (GOOGL) to Boost YouTube TV With Redesigned Features Zacks
08:17AMDow Jones Futures Fall After Market Reverses Lower On Fed, Recession Fears; What To Do Now Investor's Business Daily
08:04AMApple Will Struggle to Return to Growth as iPhone Demand Drops, Warns J.P. Morgan Barrons.com
07:50AMBest Stock to Buy: Amazon Stock vs. Apple Stock Motley Fool
06:00AMBetter Buy: Apple Stock vs. Disney Stock Motley Fool
Jan-18-23 10:04PMDow Jones Reverses Lower On Fed, Recession Fears; Tesla, Megacaps Hit Resistance Investor's Business Daily
05:04PMStocks trending in after hours: Alcoa, Discover Financial, Vroom, Apple Yahoo Finance Video
05:02PMApple delays development of AR glasses indefinitely: report Fox Business
04:32PMApple to Expand Smart-Home Lineup, Taking On Amazon and Google Bloomberg
04:19PMBrazil antitrust agency to investigate MercadoLibre complaint against Apple Reuters
02:35PMBig Tech braces for dismal profits, more job cuts Reuters
02:30PMApple wants to control everything from its chips to screens Yahoo Finance
02:20PMApple doing audit related to its human rights policy and labor practices this year Fox Business
02:11PMApple Could Boost Profits by Designing Its Own iPhone Parts, Analyst Says Barrons.com
02:10PMSpotify launches new attack on Apple for abusive behaviors MarketWatch
01:08PMApple Resurrects the Full-Size HomePod With a $299 Price Tag The Wall Street Journal
12:45PMGoogle Reportedly Working on Apple AirTag Alternative As Personal Tracker Market Sees Growth and Consolidation Benzinga
12:30PMWhy Apples Mac Pricing Is Bad For Customersand Bad for Business Barrons.com
11:20AMApple Brings Back the HomePod Smart Speaker Barrons.com
10:46AMApple Delays AR Glasses, Plans Cheaper Mixed-Reality Headset Bloomberg
10:42AMWhat Apple's move to in-house M2 chips means for the stock Yahoo Finance Video
10:42AMSpotify Teams Up With European Companies For Regulatory Action Against Apple Benzinga
10:11AMU.S. corporate greed has gone too far, says Norway fund manager who voted against Apple CEOs pay MarketWatch
10:00AMBetter Buy in 2023: Apple Stock vs. Amazon Stock Motley Fool
09:50AM10 Best Vanguard ETFs for Portfolio Diversification Insider Monkey
09:45AMDown 22% to 30%, 3 Warren Buffett Dividend Stocks to Buy Right Now Motley Fool
09:23AMApple Is Taking on Meta in Virtual Reality. Its Not Going to Be Easy. Barrons.com
09:01AMSpotify joins media firms to urge EU action against Apple's 'unfair' practices Reuters
09:00AMApple introduces the new HomePod with breakthrough sound and intelligence Business Wire
08:54AMSpotify joins media firms to urge EU action against Apple's 'unfair' practices Reuters
08:27AMApple Wants to Play in the Metaverse. Dont Expect It to Be Easy. Barrons.com
08:15AM2 Top Stocks to Buy in 2023 and Hold Forever Motley Fool
06:39AM3 Reasons to Buy The Trade Desk Stock, and 1 Reason to Sell Motley Fool
06:31AM3 Stocks to Buy if They Take a Dip Motley Fool

# Gathering Data From AlphaAdvantage for Historical News #

In [323]:
from decouple import config
import requests
import urllib.parse
import json
import datetime
AAapikey = config('AAKey')

In [347]:
#Function to convert user provided date to date required by AlphaAdvantage
def toAADate(oldDate):
    newDate = oldDate.strftime("%Y%m%dT001")
    return str(newDate)

In [348]:
# Get data from AlphaAdvantage for one ticker for a particular day
def getHistoricNewsData(ticker, endDate = datetime.date.today() - datetime.timedelta(days = 1) , interval = '1mo'):
    url = 'https://www.alphavantage.co/query?'
    print("endDate is: " +str(endDate))
    if interval == '1mo':
        days_to_add = 30
    else:
        days_to_add = 60
    delta_days = datetime.timedelta(days = days_to_add)
    startDate = endDate - delta_days
    print("startDate is: " +str(startDate))
    if startDate and endDate:
        startDate = toAADate(startDate)
        endDate = toAADate(endDate)
        Myparams = {'function': 'NEWS_SENTIMENT', 'tickers': ticker, 'time_from': startDate, 'time_to': endDate, 'sort': 'LATEST','limit': 100, 'apikey': AAapikey}
    else:
        Myparams = {'function': 'NEWS_SENTIMENT', 'tickers': ticker, 'sort': 'LATEST','limit': 100, 'apikey': AAapikey}
    r = requests.get(url, params = Myparams)
    data = r.json()
    #return data
    historic_news = pd.DataFrame(columns=['Date', 'Headline', 'Ticker'])
    for i in data.get("feed"):
        test_date = i.get("time_published")
        test_date = test_date[:8]
        row = [test_date, i.get("title"), ticker]
        new_df = pd.DataFrame([row],columns=['Date', 'Headline', 'Ticker'])
        historic_news = pd.concat([historic_news, new_df], axis=0, ignore_index=True)
    return historic_news

#historic_news = getHistoricNewsData('AAPL', '2022-10-10', '2mo')
historic_news = getHistoricNewsData('AAPL')
print(historic_news.head())

endDate is: 2023-01-22
startDate is: 2022-12-23
       Date                                           Headline Ticker
0  20230124  Tesla Bull Says Time For Tim Cook To Step Down...   AAPL
1  20230123  'It is an employer's market': Tech layoffs may...   AAPL
2  20230123  Bitcoin Prices Retain Bulk Of Gains After Clim...   AAPL
3  20230123  Futures: Stocks Extend Gains; 10 Stocks To Buy...   AAPL
4  20230123  Amazon Earnings Set to Disappoint: Time to Buy...   AAPL

# Sentiment Analysis of News data #

In [282]:
def SentimentAnalysisNewsData(parsedNews):
    nltk.download('vader_lexicon')
    # Sentiment Analysis
    analyzer = SentimentIntensityAnalyzer()

    columns = ['Ticker', 'Date', 'Time', 'Headline']
    news = pd.DataFrame(parsedNews, columns=columns)
    scores = news['Headline'].apply(analyzer.polarity_scores).tolist()

    df_scores = pd.DataFrame(scores)
    news = news.join(df_scores, rsuffix='_right')
    news['Date'] = pd.to_datetime(news.Date).dt.date

    unique_ticker = news['Ticker'].unique().tolist()
    news_dict = {name: news.loc[news['Ticker'] == name] for name in unique_ticker}

    values = []
    for ticker in tickers: 
        dataframe = news_dict[ticker]
        dataframe = dataframe.set_index('Ticker')
        dataframe = dataframe.drop(columns = ['Headline'])
        print ('\n')
        print (dataframe.head())
        
        mean = round(dataframe['compound'].mean(), 2)
        values.append(mean)
        
    df = pd.DataFrame(list(zip(tickers, values)), columns =['Ticker', 'Mean Sentiment']) 
    df = df.set_index('Ticker')
    df = df.sort_values('Mean Sentiment', ascending=False)
    print ('\n')
    print (df)
    return df

In [283]:
HistoricSentiment = SentimentAnalysisNewsData(historic_news)
TodaysSentiment = SentimentAnalysisNewsData(parsed_news)

              Date  Time    neg    neu    pos  compound
Ticker
AAPL    2023-01-23   NaN  0.090  0.574  0.336    0.7906
AAPL    2023-01-23   NaN  0.000  0.806  0.194    0.3400
AAPL    2023-01-23   NaN  0.000  0.661  0.339    0.4767
AAPL    2023-01-23   NaN  0.175  0.714  0.110   -0.2500
AAPL    2023-01-23   NaN  0.000  1.000  0.000    0.0000


        Mean Sentiment
Ticker
AAPL              0.14


              Date     Time    neg    neu    pos  compound
Ticker
AAPL    2023-01-23  05:18PM  0.000  1.000  0.000    0.0000
AAPL    2023-01-23  04:50PM  0.000  0.811  0.189    0.6369
AAPL    2023-01-23  04:09PM  0.000  1.000  0.000    0.0000
AAPL    2023-01-23  03:10PM  0.293  0.707  0.000   -0.4404
AAPL    2023-01-23  02:48PM  0.000  1.000  0.000    0.0000


        Mean Sentiment
Ticker
AAPL             -0.09

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Ishaan\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Ishaan\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

# Creating Dataset #

In [297]:
def createDataset(date_from, interval):
    for i in tickers:
        print("Creating dataset for $" +i)
        #Get historic stock data
        historic_stock = getMonthlyStockData(i, date_from, interval)
        print(historic_stock.head())
        #Get historic news data and sentiment
        historic_news = getHistoricNewsData(i, '2023012', '20230117')
        #Merge as training set
        #Get today's stock data
        #Get today's news data and sentiment


createDataset('2022-10-10', '2mo')

Creating dataset for $AAPL
Getting stock data for stock $AAPL
[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2022-10-10  140.419998  141.889999  138.570007  140.419998  140.187439
2022-10-11  139.899994  141.350006  138.220001  138.979996  138.749832
2022-10-12  139.130005  140.360001  138.160004  138.339996  138.110886
2022-10-13  134.990005  143.589996  134.369995  142.990005  142.753204
2022-10-14  144.309998  144.520004  138.190002  138.380005  138.150833

               Volume
Date
2022-10-10   74899000
2022-10-11   77033700
2022-10-12   70433700
2022-10-13  113224000
2022-10-14   88598000