<a href="https://colab.research.google.com/github/ishaanpaul98/Sentiment-Analysis/blob/main/Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports #

In [19]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from wordcloud import WordCloud
import re

from bs4 import BeautifulSoup
from urllib.request import urlopen, Request
from nltk.sentiment.vader import SentimentIntensityAnalyzer

import datetime
import yfinance as yf
import time
import requests
import io

In [20]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

In [22]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,confusion_matrix,roc_curve,classification_report
from sklearn.metrics import plot_confusion_matrix

# Stock Data Helper Functions #

In [23]:
def getStockDataDaily(symbol, day):
    print("Getting stock data for stock $"+symbol)
    df = yf.download(symbol, start=day, period = "1d")
    return df

getStockDataDaily('AAPL', "2022-12-21")

Getting stock data for stock $AAPL
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-12-21,132.979996,136.809998,132.750000,135.449997,135.449997,85928000
2022-12-22,134.350006,134.559998,130.300003,132.229996,132.229996,77852100
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.860001,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,130.029999,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,126.040001,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.610001,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.929993,76960600
2023-01-03,130.279999,130.899994,124.169998,125.070000,125.070000,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,126.360001,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,125.019997,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,129.619995,87686600
2023-01-09,130.470001,133.410004,129.889999,130.149994,130.149994,70790800
2023-01-10,130.259995,131.259995,128.119995,130.729996,130.729996,63896200
2023-01-11,131.250000,133.509995,130.460007,133.490005,133.490005,69458900
2023-01-12,133.880005,134.259995,131.440002,133.410004,133.410004,71379600
2023-01-13,132.029999,134.919998,131.660004,134.759995,134.759995,57758000
2023-01-17,134.830002,137.289993,134.130005,135.940002,135.940002,63646600
2023-01-18,136.820007,138.610001,135.029999,135.210007,135.210007,69672800
2023-01-19,134.080002,136.250000,133.770004,135.270004,135.270004,58280400
2023-01-20,135.279999,138.020004,134.220001,137.869995,137.869995,79972200
2023-01-23,138.119995,143.320007,137.899994,141.110001,141.110001,81760300
2023-01-24,140.309998,143.160004,140.300003,142.529999,142.529999,66435100
2023-01-25,140.889999,142.429993,138.809998,141.860001,141.860001,65799300
2023-01-26,143.169998,144.250000,141.899994,143.960007,143.960007,54105100
2023-01-27,143.160004,147.229996,143.080002,145.929993,145.929993,70492800
2023-01-30,144.960007,145.550003,142.850006,143.000000,143.000000,64015300
2023-01-31,142.699997,144.339996,142.279999,144.289993,144.289993,65874500
2023-02-01,143.970001,146.610001,141.320007,145.429993,145.429993,77663600
2023-02-02,148.899994,151.179993,148.169998,150.820007,150.820007,118339000
2023-02-03,148.029999,157.380005,147.830002,154.500000,154.500000,149918017

In [24]:
def arrayToString(arr):
    print("Starting array to list")
    listToStr = ' '.join([str(elem) for elem in arr])
    return listToStr

In [25]:
def getMultiStockDataDaily(symbols, day):
    if len(symbols) > 1:
        print("Length of symbols array is more than 1. STARTING ARRAYTOSTRING")
        symbols = arrayToString(symbols)
    print("Getting stock data for stock $"+symbols)
    df = yf.download(symbols, start=day, period = "1d", group_by='ticker')
    return df

getMultiStockDataDaily(['AAPL', 'TSLA'], "2022-12-21")

Length of symbols array is more than 1. STARTING ARRAYTOSTRING
Starting array to list
Getting stock data for stock $AAPL TSLA
[*********************100%***********************]  2 of 2 completed

                  TSLA                                                  \
                  Open        High         Low       Close   Adj Close
Date
2022-12-21  139.339996  141.259995  135.889999  137.570007  137.570007
2022-12-22  136.000000  136.630005  122.260002  125.349998  125.349998
2022-12-23  126.370003  128.619995  121.019997  123.150002  123.150002
2022-12-27  117.500000  119.669998  108.760002  109.099998  109.099998
2022-12-28  110.349998  116.269997  108.239998  112.709999  112.709999
2022-12-29  120.389999  123.570000  117.500000  121.820000  121.820000
2022-12-30  119.949997  124.480003  119.750000  123.180000  123.180000
2023-01-03  118.470001  118.800003  104.639999  108.099998  108.099998
2023-01-04  109.110001  114.589996  107.519997  113.639999  113.639999
2023-01-05  110.510002  111.750000  107.160004  110.339996  110.339996
2023-01-06  103.000000  114.389999  101.809998  113.059998  113.059998
2023-01-09  118.959999  123.519997  117.110001  119.769997  119.769997
2023-01-10  121.070000  122.760002  114.919998  118.849998  118.849998
2023-01-11  122.089996  125.949997  120.510002  123.220001  123.220001
2023-01-12  122.559998  124.129997  117.000000  123.559998  123.559998
2023-01-13  116.550003  122.629997  115.599998  122.400002  122.400002
2023-01-17  125.699997  131.699997  125.019997  131.490005  131.490005
2023-01-18  136.559998  136.679993  127.010002  128.779999  128.779999
2023-01-19  127.260002  129.990005  124.309998  127.169998  127.169998
2023-01-20  128.679993  133.509995  127.349998  133.419998  133.419998
2023-01-23  135.869995  145.380005  134.270004  143.750000  143.750000
2023-01-24  143.000000  146.500000  141.100006  143.889999  143.889999
2023-01-25  141.910004  146.410004  138.070007  144.429993  144.429993
2023-01-26  159.970001  161.419998  154.759995  160.270004  160.270004
2023-01-27  162.429993  180.679993  161.169998  177.899994  177.899994
2023-01-30  178.050003  179.770004  166.500000  166.660004  166.660004
2023-01-31  164.570007  174.300003  162.779999  173.220001  173.220001
2023-02-01  173.889999  183.809998  169.929993  181.410004  181.410004
2023-02-02  187.330002  196.750000  182.610001  188.270004  188.270004
2023-02-03  183.949997  198.990005  183.690002  189.979996  189.979996

                             AAPL                                      \
               Volume        Open        High         Low       Close
Date
2022-12-21  145417400  132.979996  136.809998  132.750000  135.449997
2022-12-22  210090300  134.350006  134.559998  130.300003  132.229996
2022-12-23  166989700  130.919998  132.419998  129.639999  131.860001
2022-12-27  208643400  131.380005  131.410004  128.720001  130.029999
2022-12-28  221070500  129.669998  131.029999  125.870003  126.040001
2022-12-29  221923300  127.989998  130.479996  127.730003  129.610001
2022-12-30  157304500  128.410004  129.949997  127.430000  129.929993
2023-01-03  231402800  130.279999  130.899994  124.169998  125.070000
2023-01-04  180389000  126.889999  128.660004  125.080002  126.360001
2023-01-05  157986300  127.129997  127.769997  124.760002  125.019997
2023-01-06  220575900  126.010002  130.289993  124.889999  129.619995
2023-01-09  190284000  130.470001  133.410004  129.889999  130.149994
2023-01-10  167642500  130.259995  131.259995  128.119995  130.729996
2023-01-11  183810800  131.250000  133.509995  130.460007  133.490005
2023-01-12  169400900  133.880005  134.259995  131.440002  133.410004
2023-01-13  180439300  132.029999  134.919998  131.660004  134.759995
2023-01-17  186477000  134.830002  137.289993  134.130005  135.940002
2023-01-18  195680300  136.820007  138.610001  135.029999  135.210007
2023-01-19  170291900  134.080002  136.250000  133.770004  135.270004
2023-01-20  138429900  135.279999  138.020004  134.220001  137.869995
2023-01-23  203119200  138.119995  143.320007  137.899994  141.110001
2023-01-24  158699100  140.309998  143.160004  140.300003  142.529999
2023-01-25  192734300  140.889999  142.429993  138.809998  141.860001
2023-01-26  234815100  143.169998  144.250000  141.899994  143.960007
2023-01-27  305632100  143.160004  147.229996  143.080002  145.929993
2023-01-30  230878800  144.960007  145.550003  142.850006  143.000000
2023-01-31  196813500  142.699997  144.339996  142.279999  144.289993
2023-02-01  213806300  143.970001  146.610001  141.320007  145.429993
2023-02-02  217448300  148.899994  151.179993  148.169998  150.820007
2023-02-03  229175706  148.029999  157.380005  147.830002  154.500000


             Adj Close     Volume
Date
2022-12-21  135.449997   85928000
2022-12-22  132.229996   77852100
2022-12-23  131.860001   63814900
2022-12-27  130.029999   69007800
2022-12-28  126.040001   85438400
2022-12-29  129.610001   75703700
2022-12-30  129.929993   76960600
2023-01-03  125.070000  112117500
2023-01-04  126.360001   89113600
2023-01-05  125.019997   80962700
2023-01-06  129.619995   87686600
2023-01-09  130.149994   70790800
2023-01-10  130.729996   63896200
2023-01-11  133.490005   69458900
2023-01-12  133.410004   71379600
2023-01-13  134.759995   57758000
2023-01-17  135.940002   63646600
2023-01-18  135.210007   69672800
2023-01-19  135.270004   58280400
2023-01-20  137.869995   79972200
2023-01-23  141.110001   81760300
2023-01-24  142.529999   66435100
2023-01-25  141.860001   65799300
2023-01-26  143.960007   54105100
2023-01-27  145.929993   70492800
2023-01-30  143.000000   64015300
2023-01-31  144.289993   65874500
2023-02-01  145.429993   77663600
2023-02-02  150.820007  118339000
2023-02-03  154.500000  149918017

In [26]:
def getMonthlyStockData(symbol, day = datetime.date.today() - datetime.timedelta(days = 1), interval = '1mo'):
    print("Getting stock data for stock $"+symbol)
    df = yf.download(symbol, start=day, period = interval, group_by='ticker')
    return df

#getMonthlyStockData('AAPL', "2022-11-21", '1mo')

# Gathering FinViz Data (Today's News) #

In [27]:
# Parameters 
n = 3 #the # of article headlines displayed per ticker
tickers = ['AAPL']

In [28]:
from finvizfinance.news import News
fnews = News()
all_news = fnews.get_news()
all_news

{'news':        Date                                              Title  \
 0   04:38PM  Google workers protesting in California and Ne...
 1   04:31PM            Montana China spy balloon: What to know
 2   04:27PM  Stocks Close Lower, Yields Climb After Jobs Re...
 3   04:10PM  U.S. stocks finish lower, but Nasdaq Composite...
 4   04:10PM  Jobs report jolts Wall Street bulls as inflati...
 ..      ...                                                ...
 85  06:37AM  Air raid alerts in Kyiv as EU leaders to hold ...
 86  06:32AM  Why Chinese Companies Are Investing Billions i...
 87  06:17AM  Samsung boss says he would not give a child un...
 88  06:08AM                     AMERICAS Runaway Tech arrested
 89  06:04AM  Germany Gives Green Light to Export Leopard 1 ...

                  Source                                               Link
 0       foxbusiness.com  https://foxbusiness.com/technology/google-work...
 1       foxbusiness.com  https://foxbusiness.com/politics/montana-china...
 2           www.wsj.com  https://www.wsj.com/livecoverage/stock-market-...
 3   www.marketwatch.com  http://www.marketwatch.com/news/story/us-stock...
 4       www.reuters.com  https://www.reuters.com/markets/us/jobs-report...
 ..                  ...                                                ...
 85      edition.cnn.com  https://edition.cnn.com/webview/europe/live-ne...
 86      www.nytimes.com  https://www.nytimes.com/2023/02/03/business/ch...
 87        www.bbc.co.uk  https://www.bbc.co.uk/news/business-64504549?a...
 88      www.reuters.com  https://www.reuters.com/markets/us/global-mark...
 89    www.bloomberg.com  https://www.bloomberg.com/news/articles/2023-0...

 [90 rows x 4 columns],
 'blogs':        Date                                              Title  \
 0   04:20PM  More Recession Signs: Money Supply Growth Went...
 1   04:01PM  Nasdaq Soars To Best Start Since 1975 After Ja...
 2   03:40PM  Watch: Democrats Oppose Amendment To Recite Pl...
 3   03:20PM  These Were The Best And Worst Performing Asset...
 4   03:15PM  Suspected Chinese Spy Balloon Might Be Headed ...
 ..      ...                                                ...
 85   Dec-18                           Your Mental Sharpe Ratio
 86   Dec-06   The Three Essential Sources of Your Trading Edge
 87   Nov-24                                Trading Consciously
 88   Nov-18  Relapse Prevention:  A Neglected Topic In Trad...
 89   May-21  New Issue Now Available: What Hedge Funds Boug...

                      Source                                               Link
 0         www.zerohedge.com  https://www.zerohedge.com/markets/more-recessi...
 1         www.zerohedge.com  https://www.zerohedge.com/markets/nasdaq-soars...
 2         www.zerohedge.com  https://www.zerohedge.com/political/watch-demo...
 3         www.zerohedge.com  https://www.zerohedge.com/markets/these-were-b...
 4         www.zerohedge.com  https://www.zerohedge.com/geopolitical/high-al...
 ..                      ...                                                ...
 85  traderfeed.blogspot.com  http://traderfeed.blogspot.com/2022/12/your-me...
 86  traderfeed.blogspot.com  http://traderfeed.blogspot.com/2022/12/the-thr...
 87  traderfeed.blogspot.com  http://traderfeed.blogspot.com/2022/11/trading...
 88  traderfeed.blogspot.com  http://traderfeed.blogspot.com/2022/11/relapse...
 89      www.marketfolly.com  http://www.marketfolly.com/2022/05/new-issue-n...

 [90 rows x 4 columns]}

In [29]:
# Get Data
finwiz_url = 'https://finviz.com/quote.ashx?t='
news_tables = {}

for ticker in tickers:
    url = finwiz_url + ticker
    print("current url is: " +url)
    header = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36."}
    req = Request(url=url,headers=header) 
    resp = urlopen(req)    
    html = BeautifulSoup(resp, features="lxml")
    news_table = html.find(id='news-table')
    news_tables[ticker] = news_table

try:
    for ticker in tickers:
        df = news_tables[ticker]
        df_tr = df.findAll('tr')
    
        print ('\n')
        print ('Recent News Headlines for {}: '.format(ticker))
        
        for i, table_row in enumerate(df_tr):
            a_text = table_row.a.text
            td_text = table_row.td.text
            td_text = td_text.strip()
            print(a_text,'(',td_text,')')
            if i == n-1:
                break
except KeyError:
    pass

current url is: https://finviz.com/quote.ashx?t=AAPL


Recent News Headlines for AAPL:
Tech Megacaps See Red as Earnings Disappoint ( Feb-03-23 04:27PM )
US STOCKS-Wall Street ends down after stunning jobs growth raises Fed questions ( 04:17PM )
Apple Sees Improved Outlook; Here's How It's Helping The Stock ( 04:03PM )

In [30]:
# Iterate through the news
parsed_news = []
for file_name, news_table in news_tables.items():
    for x in news_table.findAll('tr'):
        print(x.get_text())
        text = x.get_text() 
        date_scrape = x.td.text.split()

        if len(date_scrape) == 1:
            time = date_scrape[0]
            
        else:
            date = date_scrape[0]
            time = date_scrape[1]

        ticker = file_name.split('_')[0]
        
        parsed_news.append([ticker, date, time, text ])

Feb-03-23 04:27PMTech Megacaps See Red as Earnings Disappoint Investopedia
04:17PMUS STOCKS-Wall Street ends down after stunning jobs growth raises Fed questions Reuters
04:03PMApple Sees Improved Outlook; Here's How It's Helping The Stock Investor's Business Daily
04:01PMStock market news live updates: Stocks slide after jobs report shocks, Big Tech results disappoint Yahoo Finance
04:00PMUS STOCKS-Wall Street ends down after stunning jobs growth raises Fed questions Reuters

03:37PM
Loading

03:37PMApples earnings were a lot better than they look Yahoo Finance
03:32PMBig Tech stocks: How Meta, Apple, Amazon are trading after earnings Yahoo Finance Video
02:59PMWhy FAANG Stocks Made Big Moves Friday Motley Fool
02:51PMWe've Dug Deeper Into 4 High Profile Portfolio Earnings Reports TheStreet.com
02:45PMMaking Sense of Apple, Amazon and Big Tech Earnings Zacks
02:31PM2023 Top Dow Jones Stocks To Buy And Watch In February: Apple Surges On Earnings Investor's Business Daily
02:26PMUS STOCKS-Wall Street sinks after stunning jobs growth raises questions about Fed Reuters
01:51PMBerkshire Hathaway Stock Is Losing to the S&P 500 This Year Barrons.com
01:50PMMarket Update: AAPL, AMZN, BA, BYD, HSY, SKX, WEC, BMI, GM Argus Research
01:43PMMarket Rally Powers Higher On Tame Fed, Meta Earnings; Apple, Google, Amazon In Focus: Weekly Review Investor's Business Daily

01:34PM
Loading

01:34PMApple Inc. (NASDAQ:AAPL) Q1 2023 Earnings Call Transcript Insider Monkey
01:27PM10 Hot Tech Stocks To Buy Now Insider Monkey
01:10PMStock Market Turns Lower After Strong Jobs Report; Apple Stock Reverses Higher Despite Sluggish Quarter Investor's Business Daily
12:45PMWhy Apple Stock Was Up on Friday Motley Fool
12:20PMApple Is Far Better Positioned Than Amazon or Alphabet: Here's the Trade TheStreet.com
12:11PMStock Market Trims Losses After Strong Jobs Report; Apple Stock Surges 4%, Tesla Reverses Higher Investor's Business Daily
12:04PMQualcomm Stock Rises. The Company Is Diversifying Away From Smartphones and Apple. Barrons.com
11:17AMJanuary jobs report, Apple Q1 earnings, Nerdy stock surges on AI products: 3 things to watch markets Yahoo Finance Video
11:10AMETFs in Focus on Apple's First Earnings Miss Since 2016 Zacks
11:09AMApple stock rallies even as CEO Tim Cook spooks with one phrase Yahoo Finance
11:09AMApple stock in focus as CEO Tim Cook spooks with one phrase Yahoo Finance
10:45AMStock Market Recovers After Blowout Jobs Report; Apple, Google, AMZN, QCOM Earnings In Focus Investor's Business Daily
10:38AMApple Blames Rotten Holiday Quarter on Supply Chain, Economy Bloomberg
10:36AMGRAPHIC-Tech trillion club's wobble in four charts Reuters
10:30AMStock Market Takes Heat After Blowout Jobs Report; Apple, Google, AMZN, QCOM Earnings In Focus Investor's Business Daily

10:26AM
Loading

10:26AMApple Sees Improved Outlook After iPhone Supply Issues Resolved Investor's Business Daily
10:01AMApple is producing more. But now the worries are who will buy? MarketWatch
10:00AMApple Stock Turns Higher As iPhone Outlook Offsets Rare Earnings Miss From China Disruptions TheStreet.com
09:54AMDow Jones Slides On Strong January Jobs Report; Apple Reverses Higher; Alphabet, Amazon Drop On Earnings Investor's Business Daily
09:39AMNasdaq Rally Gets a Reality Check as Megacaps Miss Bloomberg
09:39AMHere's Our Take on the Latest Earnings and the Jobs Report TheStreet.com
09:31AMApple cant supply enough  and thats a good problem, analyst says Yahoo Finance Video
09:29AMTech trillion club's wobble in four charts Reuters
09:22AMGRAPHIC-Tech trillion club's wobble in four charts Reuters
09:15AMDow Jones Futures Slide On Strong January Jobs Report; Alphabet, Amazon, Apple Drop On Earnings Investor's Business Daily
09:11AMAnalysis-From Meta to Microsoft, AI's big moment is here Reuters
08:53AM2 Top Stocks to Buy in February Motley Fool
08:35AMDow Jones Futures Drop On Strong January Jobs Report; Alphabet, Amazon, Apple Drop On Earnings Investor's Business Daily
08:27AMApple Misses Earnings and Revenue Estimates. The Stock Is Falling. Barrons.com
08:23AMDow Jones Futures Fall Ahead Of January Jobs Report; Alphabet, Amazon, Apple Drop On Earnings Investor's Business Daily
08:19AM10 Best Dividend Stocks To Buy in February Motley Fool
08:15AMDow Jones Futures Fall As Apple, Google, Amazon Skid, Jobs Report Looms; Market Rally Due For Pullback? Investor's Business Daily
07:28AMApple, Alphabet and Amazon stock selloff would reduce their market caps by more than $150 billion combined MarketWatch
07:14AMApple Stock Falls After Earnings Motley Fool
07:10AMUPDATE 1-Tech earnings hit pause button on market rally Reuters
07:09AMWhy Apples Demand Problem May Not Be That Bad Barrons.com
06:32AMApple Is Not the Economy. Why the Feds More Bullish Than Tech. Barrons.com
06:30AMTheyre baaaaack. Retail participation in the stock market just surpassed the GameStop days. MarketWatch
06:24AMApple Stock Slumps After Rare Earnings Miss As China Disruptions Weaken iPhone Sales TheStreet.com
06:18AMApple stock gets nailed as CEO Tim Cook spooks investors with one phrase Yahoo Finance
06:00AMMORNING BID AMERICAS-Runaway Tech arrested Reuters
05:54AMIndia's customs duty change to dial up local phone production-tax official Reuters
05:42AMApple Sales Fall for First Time Since 2019. Just How Bad Is Its Demand Problem? Barrons.com
05:21AMThis Is Warren Buffett's No. 1 Stock to Buy (and You Won't Find It in Berkshire Hathaway's Portfolio) Motley Fool
05:20AMFutures fall as megacaps slide on downbeat earnings Reuters
05:16AMUS STOCKS-Futures fall as megacaps slide on downbeat earnings Reuters
05:13AMStocks Lower Ahead of Jobs Data, Apple, Amazon, Google, Nordstrom - Five Things To Know TheStreet.com
05:06AMApple and Starbucks couldnt rise above Chinas zero-covid policy Quartz
01:30AM$5tn of meh earnings Financial Times
12:00AMMarkets dove-coloured glasses Financial Times
Feb-02-23 11:05PMApple offers breadcrumbs for a forecast, but is that enough to reassure Wall Street? MarketWatch
10:15PMApple Again Dominates Smartphone Profit, Taking Record 85% Share Bloomberg
10:14PMDow Jones Futures: Apple, Google, Amazon Skid, Jobs Report Looms; Market Rally Due For Pullback? Investor's Business Daily
09:06PMTech earnings hit pause button on market rally Reuters
09:00PMApple (AAPL) Q1 2023 Earnings Call Transcript Motley Fool
08:46PMAnalyst Report: Apple Inc. Morningstar Research
08:22PMApple, Alphabet and Amazon Hurt as Economic Slump Crimps Demand Bloomberg
08:07PMTim Cook, Apple CEO, weighs in after disappointing first-quarter revenue Fox Business
08:04PMApple reports first decline in revenue in three-and-a-half years Financial Times
07:17PMApple earnings: Twitter reacts to Q1 results, significant headwinds for tech industry Yahoo Finance Video
06:51PMApple earnings: What to watch from the iPhone maker in the quarter ahead Yahoo Finance Video
06:35PMApple Misses Estimates as iPhone Sales Decline Investopedia
06:31PMApple earnings vibe check: Tech giant stresses bright spots after rare Q1 miss Yahoo Finance Video
06:26PMApple posts disappointing first quarter results Fox Business
06:12PMApple earnings show steepest sales decline in more than 6 years MarketWatch
05:53PMStocks moving in after-hours: Amazon, Alphabet, Apple Yahoo Finance
05:51PMMeta Platforms Shares Surge 23% on Cost Cuts, Stock Buyback The Wall Street Journal
05:41PMApple Misses December-Quarter Targets As iPhone, Mac Sales Fall Investor's Business Daily
05:03PMTech earnings: Breaking down the big takeaways from Apple, Amazon, Alphabet Yahoo Finance Video
04:58PMApple's growth in services category is 'the positive takeaway' from earnings: Analyst Yahoo Finance Video
04:56PMApple iPhone revenue misses estimates in Q1 earnings release Yahoo Finance Video
04:45PMApple Sales Shrink as Covid Disruptions in China Slow Production The Wall Street Journal
04:42PMApple Earnings Miss Forecast For First Time Since 2016 As iPhone Sales Hit By China Supply Chain Snarls TheStreet.com
04:39PMApple earnings fall short on underwhelming sales of iPhones and Macs MarketWatch
04:33PMApple misses Q1 earnings expectations as iPhone sales fall short Yahoo Finance
04:33PMThese Stocks Are Moving the Most Today: Meta, Align, Coinbase, Harley, Okta, and More Barrons.com
04:32PMApple's lower iPhone sales drive first profit miss since 2016 Reuters
04:31PMUPDATE 2-Apple's lower iPhone sales drive first profit miss since 2016 Reuters
04:30PMApple reports first quarter results Business Wire
04:16PMWhat to look for in Apple, other Big Tech earnings Yahoo Finance Video
04:15PMWhat to look for in Big Tech earnings Yahoo Finance Video
03:35PMTech earnings preview: Analysts watch Apple iPhone numbers, Amazon sales growth Yahoo Finance Video
03:27PMApple, Google called on by Democratic senator to ban TikTok in app stores Yahoo Finance Video
03:21PMAhead of Apple earnings, did wireless companies send a troubling signal? MarketWatch
02:45PMMetas earnings aren't a great sign for the ad market Yahoo Finance

# Gathering Data From AlphaAdvantage for Historical News #

In [31]:
from decouple import config
import requests
import urllib.parse
import json
import datetime
AAapikey = config('AAKey')

In [32]:
#Function to convert user provided date to date required by AlphaAdvantage
def toAADate(oldDate):
    newDate = oldDate.strftime("%Y%m%dT0130")
    return str(newDate)

In [74]:
#End Date is yesterday
def breakdownofhistoric(ticker, endDate = datetime.date.today() - datetime.timedelta(days = 1), interval = 30, runs = 1):
    print("Starting the breakdown")
    rollingWindow = 5
    for i in range(interval):
        dayDiff = i + 1
        print(dayDiff)


breakdownofhistoric('AAPL', interval = 30)

Starting the breakdown
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [33]:
# Get data from AlphaAdvantage for one ticker for a particular day
def getHistoricNewsData(ticker, endDate = datetime.date.today() - datetime.timedelta(days = 1) , interval = '1mo'):
    url = 'https://www.alphavantage.co/query?'
    print("endDate is: " +str(endDate))
    if interval == '1mo':
        days_to_add = 30
    else:
        days_to_add = 60
    delta_days = datetime.timedelta(days = days_to_add)
    startDate = endDate - delta_days
    print("startDate is: " +str(startDate))
    if startDate and endDate:
        startDate = toAADate(startDate)
        endDate = toAADate(endDate)
        print("startDate is: " +str(startDate))
        print("endDate is: " +str(endDate))
        Myparams = {'function': 'NEWS_SENTIMENT', 'tickers': ticker, 'time_from': startDate, 'time_to': endDate, 'sort': 'EARLIEST','limit': 200, 'apikey': AAapikey}
    else:
        print("NEED DATES")
        #Myparams = {'function': 'NEWS_SENTIMENT', 'tickers': ticker, 'sort': 'LATEST','limit': 100, 'apikey': AAapikey}
    r = requests.get(url, params = Myparams)
    data = r.json()
    #return data
    historic_news = pd.DataFrame(columns=['Date', 'Headline', 'Ticker'])
    for i in data.get("feed"):
        test_date = i.get("time_published")
        test_date = test_date[:8]
        newDate = datetime.datetime.strptime(test_date, '%Y%m%d').date()
        row = [newDate, i.get("title"), ticker]
        new_df = pd.DataFrame([row],columns=['Date', 'Headline', 'Ticker'])
        historic_news = pd.concat([historic_news, new_df], axis=0, ignore_index=True)
    return historic_news

#historic_news = getHistoricNewsData('AAPL', '2022-10-10', '2mo')
historic_news = getHistoricNewsData('AAPL', interval = '1mo')
print(historic_news)

endDate is: 2023-02-02
startDate is: 2023-01-03
startDate is: 20230103T0130
endDate is: 20230202T0130
           Date                                           Headline Ticker
0    2023-01-03              2 Stocks to Invest in Virtual Reality   AAPL
1    2023-01-03  If You Invested $100 in Berkshire Hathaway in ...   AAPL
2    2023-01-03     23 Top Dividend Stocks to Buy and Hold in 2023   AAPL
3    2023-01-03  The Zacks Analyst Blog Highlights Apple, Johns...   AAPL
4    2023-01-03  Should Schwab Fundamental U.S. Large Company I...   AAPL
..          ...                                                ...    ...
195  2023-01-09  Top Stories Monday, Jan. 09 - Apple  ( NASDAQ:...   AAPL
196  2023-01-09  Apple  ( AAPL )  Expands Fitness+ With New Kic...   AAPL
197  2023-01-09  This Day In Market History, Jan. 9: Apple Intr...   AAPL
198  2023-01-09  Stock Market Gains As Earnings Season Begins; ...   AAPL
199  2023-01-09  2 Stocks to Watch From the Challenging Compute...   AAPL

[200 rows x 3 columns]

# Sentiment Analysis of News data #

In [34]:
def SentimentAnalysisNewsData(parsedNews, printOut = False):
    #Downloading Vader Lexicon for Sentiment Analysis
    nltk.download('vader_lexicon')
    # Initializing Sentiment Analysis
    analyzer = SentimentIntensityAnalyzer()

    #Declaring Column Names
    columns = ['Ticker', 'Date', 'Time', 'Headline']
    #Creating dataframe from news
    news = pd.DataFrame(parsedNews, columns=columns)
    print(news)
    #Getting scores for headlines
    scores = news['Headline'].apply(analyzer.polarity_scores).tolist()

    #Creating Dataframe of Scores
    df_scores = pd.DataFrame(scores)
    #Joining scores to news dataframe
    news = news.join(df_scores, rsuffix='_right')
    #Converting Date column to pd datetime date
    news['Date'] = pd.to_datetime(news.Date).dt.date

    #List of unique tickers
    unique_ticker = news['Ticker'].unique().tolist()
    #Creating dict for news based on ticker
    news_dict = {name: news.loc[news['Ticker'] == name] for name in unique_ticker}
    #Initializing List of values
    # og values = []
    values = pd.DataFrame(columns = ['Ticker', 'Date', 'Compound'])
    for ticker in tickers: 
        dataframe = news_dict[ticker]
        dataframe = dataframe.set_index('Ticker')
        #Dropping headlines column since we only need scores now
        dataframe = dataframe.drop(columns = ['Headline'])
        #if printOut:
            #print ('\n')
            #print (dataframe.head())
        
        #mean = round(dataframe['compound'].mean(), 2)
        #Finding compound number for news of every day
        testdf = pd.DataFrame(columns = ['Date', 'Mean Sentiment'])
        testdf = round(dataframe.groupby('Date')['compound'].mean(), 2)
        print(testdf.shape)
        #Adding values to values list
        #og values.append(mean)
    
   
    #print(round(dataframe.groupby('Date')['compound'].mean(), 2))
    #print("VALUES------------")
    #print(values)
        
    #Combining tickers and values into new dataframe
    #df = pd.DataFrame(list(zip(tickers, values)), columns =['Ticker', 'Mean Sentiment']) 
    #df = df.set_index('Ticker')
    #df = df.sort_values('date', ascending=False)
    if printOut:
        print("-----------DF")
        #print(df.head())
        #print(df.shape)
    #Returning the dataframe
    return df
    #if printOut:
        #print ('\n')
        #display (df)
    #return df

In [35]:
#print("HISTORIC SENTIMENT")
HistoricSentiment = SentimentAnalysisNewsData(historic_news, True)
#print("\n")
#print("TODAYS SENTIMENT")
#TodaysSentiment = SentimentAnalysisNewsData(parsed_news)

    Ticker        Date  Time  \
0     AAPL  2023-01-03   NaN
1     AAPL  2023-01-03   NaN
2     AAPL  2023-01-03   NaN
3     AAPL  2023-01-03   NaN
4     AAPL  2023-01-03   NaN
..     ...         ...   ...
195   AAPL  2023-01-09   NaN
196   AAPL  2023-01-09   NaN
197   AAPL  2023-01-09   NaN
198   AAPL  2023-01-09   NaN
199   AAPL  2023-01-09   NaN

                                              Headline
0                2 Stocks to Invest in Virtual Reality
1    If You Invested $100 in Berkshire Hathaway in ...
2       23 Top Dividend Stocks to Buy and Hold in 2023
3    The Zacks Analyst Blog Highlights Apple, Johns...
4    Should Schwab Fundamental U.S. Large Company I...
..                                                 ...
195  Top Stories Monday, Jan. 09 - Apple  ( NASDAQ:...
196  Apple  ( AAPL )  Expands Fitness+ With New Kic...
197  This Day In Market History, Jan. 9: Apple Intr...
198  Stock Market Gains As Earnings Season Begins; ...
199  2 Stocks to Watch From the Challenging Compute...

[200 rows x 4 columns]
(7,)
-----------DF

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Ishaan\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

# Creating Dataset #

In [36]:
def createDataset(date_from, int):
    for i in tickers:
        print("Creating dataset for $" +i)
        #Get historic stock data
        historic_stock = getMonthlyStockData(i, interval = int)
        print(historic_stock.head())
        #Get historic news data
        historic_news = getHistoricNewsData(i, interval = int)
        print(historic_news)
        #Use news to get sentiment
        HistoricSentiment = SentimentAnalysisNewsData(historic_news)
        print(HistoricSentiment.shape)
        #Merge as training set
        #Get today's stock data
        #Get today's news data
        #Use news to get sentiment


createDataset('2022-10-10', '2mo')

Creating dataset for $AAPL
Getting stock data for stock $AAPL
[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2023-02-02  148.899994  151.179993  148.169998  150.820007  150.820007
2023-02-03  148.029999  157.380005  147.830002  154.500000  154.500000

               Volume
Date
2023-02-02  118339000
2023-02-03  149918017
endDate is: 2023-02-02
startDate is: 2022-12-04
startDate is: 20221204T0130
endDate is: 20230202T0130
           Date                                           Headline Ticker
0    2022-12-04  1 ETF That Could Turn $200 Per Month Into Near...   AAPL
1    2022-12-04    3 Stocks Billionaires Have Bought Ahead of 2023   AAPL
2    2022-12-04  Canada's Largest Pension Sells Apple Stock, Sl...   AAPL
3    2022-12-04      1 Green Flag and 1 Red Flag for TSMC's Future   AAPL
4    2022-12-04  Is It Time to Buy the Dow Jones' 2 Worst-Perfo...   AAPL
..          ...                                                ...    ...
195  2022-12-09  Penny Stocks Chart School: Descending Wedge De...   AAPL
196  2022-12-09  Real Calamity Far Outpaces Virtual Reality At ...   AAPL
197  2022-12-09  3 No-Brainer Stocks to Buy Amid the Tech Sell-Off   AAPL
198  2022-12-09  'Who Should We Acquire Next?' - Unphased by th...   AAPL
199  2022-12-09  Never Lose Your Things Again - The Startup Pou...   AAPL

[200 rows x 3 columns]
    Ticker        Date  Time  \
0     AAPL  2022-12-04   NaN
1     AAPL  2022-12-04   NaN
2     AAPL  2022-12-04   NaN
3     AAPL  2022-12-04   NaN
4     AAPL  2022-12-04   NaN
..     ...         ...   ...
195   AAPL  2022-12-09   NaN
196   AAPL  2022-12-09   NaN
197   AAPL  2022-12-09   NaN
198   AAPL  2022-12-09   NaN
199   AAPL  2022-12-09   NaN

                                              Headline
0    1 ETF That Could Turn $200 Per Month Into Near...
1      3 Stocks Billionaires Have Bought Ahead of 2023
2    Canada's Largest Pension Sells Apple Stock, Sl...
3        1 Green Flag and 1 Red Flag for TSMC's Future
4    Is It Time to Buy the Dow Jones' 2 Worst-Perfo...
..                                                 ...
195  Penny Stocks Chart School: Descending Wedge De...
196  Real Calamity Far Outpaces Virtual Reality At ...
197  3 No-Brainer Stocks to Buy Amid the Tech Sell-Off
198  'Who Should We Acquire Next?' - Unphased by th...
199  Never Lose Your Things Again - The Startup Pou...

[200 rows x 4 columns]
(6,)
None

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Ishaan\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!